In [1]:
import pandas as pd

df=pd.read_csv('V5.csv', sep=';', decimal=',')
df.head()

      A2      A3 A4 A5  A6  A11 A12 A13  A14  A15 A16
0  17.92   0.540  u  g   c    1   t   g   80    5   -
1  38.75   1.500  u  g  ff    0   f   g   76    0   -
2  23.92   0.665  u  g   c    0   f   g  100    0   +
3  23.50   9.000  u  g   q    5   t   g  120    0   +
4  24.42  12.335  u  g   q    0   t   g  120    0   +

In [2]:
qualitative_data_df=df#качественные данные
qualitative_data_df

        A2      A3 A4 A5  A6  A11 A12 A13  A14  A15 A16
0    17.92   0.540  u  g   c    1   t   g   80    5   -
1    38.75   1.500  u  g  ff    0   f   g   76    0   -
2    23.92   0.665  u  g   c    0   f   g  100    0   +
3    23.50   9.000  u  g   q    5   t   g  120    0   +
4    24.42  12.335  u  g   q    0   t   g  120    0   +
..     ...     ... .. ..  ..  ...  ..  ..  ...  ...  ..
495  34.08   6.500  u  g  aa    0   t   g  443    0   -
496  40.92   2.250  y  p   x    0   t   g  176    0   -
497  58.58   2.710  u  g   c    0   t   g  320    0   -
498  42.83   1.250  u  g   m    1   t   g  352  112   -
499  28.67   9.335  u  g   q    6   f   g  381  168   +

[500 rows x 11 columns]

In [3]:
qualitative_data_df['A16'] = qualitative_data_df['A16'].apply(lambda x: 1 if x=='+' else 0)
qualitative_data_df

        A2      A3 A4 A5  A6  A11 A12 A13  A14  A15  A16
0    17.92   0.540  u  g   c    1   t   g   80    5    0
1    38.75   1.500  u  g  ff    0   f   g   76    0    0
2    23.92   0.665  u  g   c    0   f   g  100    0    1
3    23.50   9.000  u  g   q    5   t   g  120    0    1
4    24.42  12.335  u  g   q    0   t   g  120    0    1
..     ...     ... .. ..  ..  ...  ..  ..  ...  ...  ...
495  34.08   6.500  u  g  aa    0   t   g  443    0    0
496  40.92   2.250  y  p   x    0   t   g  176    0    0
497  58.58   2.710  u  g   c    0   t   g  320    0    0
498  42.83   1.250  u  g   m    1   t   g  352  112    0
499  28.67   9.335  u  g   q    6   f   g  381  168    1

[500 rows x 11 columns]

In [6]:
#Столбец А4
qualitative_data_df['A4']=qualitative_data_df['A4'].replace('u',0.5507216410)
qualitative_data_df['A4']=qualitative_data_df['A4'].replace('y',0.3194444444)
qualitative_data_df['A4']=qualitative_data_df['A4'].replace('l',0.7113402062)

#Столбец А5
qualitative_data_df['A5']=qualitative_data_df['A5'].replace('g',0.5507216410)
qualitative_data_df['A5']=qualitative_data_df['A5'].replace('p',0.3194444444)
qualitative_data_df['A5']=qualitative_data_df['A5'].replace('gg',0.7113402062)

#Столбец А6
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('c',0.491140391)
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('d',0.330143541)
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('сc',0.72231405)
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('i',0.235494881)
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('j',0.38121547)
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('k',0.362521891)
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('m',0.437632135)
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('r',0.648902821)
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('q',0.731448763)
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('w',0.598206278)
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('x',0.842253521)
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('e',0.67251462)
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('aa',0.435056747)
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('ff',0.120418848)

#Столбец А12
qualitative_data_df['A12']=qualitative_data_df['A12'].replace('t',0.519944694)
qualitative_data_df['A12']=qualitative_data_df['A12'].replace('f',0.48350003)

#Столбец А13
qualitative_data_df['A13']=qualitative_data_df['A13'].replace('g',0.516329813)
qualitative_data_df['A13']=qualitative_data_df['A13'].replace('p',0.38121547)
qualitative_data_df['A13']=qualitative_data_df['A13'].replace('s',0.330143541)


qualitative_data_df

,A2,A3,A4,A5,A6,A11,A12,A13,A14,A15,A16
0,17.92,0.540,0.550722,0.550722,0.49114,1,0.519945,0.51633,80,5,0
1,38.75,1.500,0.550722,0.550722,0.120419,0,0.483500,0.51633,76,0,0
2,23.92,0.665,0.550722,0.550722,0.49114,0,0.483500,0.51633,100,0,1
3,23.50,9.000,0.550722,0.550722,0.731449,5,0.519945,0.51633,120,0,1
4,24.42,12.335,0.550722,0.550722,0.731449,0,0.519945,0.51633,120,0,1
...,...,...,...,...,...,...,...,...,...,...,...
495,34.08,6.500,0.550722,0.550722,0.435057,0,0.519945,0.51633,443,0,0
496,40.92,2.250,0.319444,0.319444,0.842254,0,0.519945,0.51633,176,0,0
497,58.58,2.710,0.550722,0.550722,0.49114,0,0.519945,0.51633,320,0,0
498,42.83,1.250,0.550722,0.550722,0.437632,1,0.519945,0.51633,352,112,0
499,28.67,9.335,0.550722,0.550722,0.731449,6,0.483500,0.51633,381,168,1

In [14]:
qualitative_data_df.to_excel('qualitative_data.xlsx',index=False, header=True)

In [7]:
quantitative_data_df=qualitative_data_df.copy()#количественные данные
quantitative_data_df

,A2,A3,A4,A5,A6,A11,A12,A13,A14,A15,A16
0,17.92,0.540,0.550722,0.550722,0.49114,1,0.519945,0.51633,80,5,0
1,38.75,1.500,0.550722,0.550722,0.120419,0,0.483500,0.51633,76,0,0
2,23.92,0.665,0.550722,0.550722,0.49114,0,0.483500,0.51633,100,0,1
3,23.50,9.000,0.550722,0.550722,0.731449,5,0.519945,0.51633,120,0,1
4,24.42,12.335,0.550722,0.550722,0.731449,0,0.519945,0.51633,120,0,1
...,...,...,...,...,...,...,...,...,...,...,...
495,34.08,6.500,0.550722,0.550722,0.435057,0,0.519945,0.51633,443,0,0
496,40.92,2.250,0.319444,0.319444,0.842254,0,0.519945,0.51633,176,0,0
497,58.58,2.710,0.550722,0.550722,0.49114,0,0.519945,0.51633,320,0,0
498,42.83,1.250,0.550722,0.550722,0.437632,1,0.519945,0.51633,352,112,0
499,28.67,9.335,0.550722,0.550722,0.731449,6,0.483500,0.51633,381,168,1

In [7]:
#данные для табличек "Значения после калибровки" 
count=qualitative_data_df['A13'].value_counts()['s']#количество буковок определенных в определенном столбце
plus_count=qualitative_data_df[(qualitative_data_df['A13'] == 's') & (qualitative_data_df['A16'] == 1)].shape[0]#их количество для положительного класса
minus_count = qualitative_data_df[(qualitative_data_df['A13'] == 's') & (qualitative_data_df['A16'] == 0)].shape[0]#для отрицательного
print(count, plus_count,minus_count)

KeyError: 's'

In [8]:
# Расчет интервалов дискретизации по квантилям
import numpy as np

np.set_printoptions(precision=3)

quantiles_a2 = np.quantile(quantitative_data_df['A2'],[0.0, 0.2, 0.4, 0.6, 0.8, 1.0])
quantiles_a3 = np.quantile(quantitative_data_df['A3'],[0.0, 0.2, 0.4, 0.6, 0.8, 1.0])
quantiles_a11 = np.quantile(quantitative_data_df['A11'],[0.0, 0.2, 0.4, 0.6, 0.8, 1.0])
quantiles_a14 = np.quantile(quantitative_data_df['A14'],[0.0, 0.2, 0.4, 0.6, 0.8, 1.0])
quantiles_a15 = np.quantile(quantitative_data_df['A15'],[0.0, 0.2, 0.4, 0.6, 0.8, 1.0])

categories_a2=[]
categories_a3=[]
categories_a11=[]
categories_a14=[]
categories_a15=[]

#Фигня конечно но иначе не работает

q_a3=[0.000, 0.822, 2.000, 4.415, 9.500, 28.000]
q_a11=[0.0, 1.0, 5.0, 67.0]
q_a14=[0.0, 21.6, 120.0, 181.0, 290.0, 980.0]
q_a15=[0.0,50.0,587.8, 51100.0]

#Добавим все данные в массивЫ
#A2
for value in quantitative_data_df['A2']:
    for i in range(len(quantiles_a2)):
        if i == 0:
            if quantiles_a2[i] <= value <= quantiles_a2[i+1]:
                categories_a2.append(i+1)
                flag = True
                break    
        if quantiles_a2[i] < value <= quantiles_a2[i+1]:
            categories_a2.append(i+1)
            break
            
#A3
flag = False
idx = 0
for value in quantitative_data_df['A3']:
    for i in range(len(q_a3)):
        if i == 0:
            if q_a3[i] <= value <= q_a3[i+1]:
                categories_a3.append(i+1)
                flag = True
                break    
        
        if q_a3[i] < value <= q_a3[i+1]:
            categories_a3.append(i+1)
            flag = True
            break
    if flag == False:
        print(idx)
    
    flag = False
    idx = idx + 1
            

#A11
for value in quantitative_data_df['A11']:
    for i in range(len(q_a11)-1):
        if i == 0:
            if q_a11[i] <= value <= q_a11[i+1]:
                categories_a11.append(i+1)
                flag = True
                break    
        
        if q_a11[i] < value <= q_a11[i+1]:
            categories_a11.append(i+1)
            break
            

#A14
for value in quantitative_data_df['A14']:
    for i in range(len(q_a14)-1):
        if i == 0:
            if q_a14[i] <= value <= q_a14[i+1]:
                categories_a14.append(i+1)
                flag = True
                break    
        
        if q_a14[i] < value <= q_a14[i+1]:
            categories_a14.append(i+1)
            break
            

#A15
for value in quantitative_data_df['A15']:
    for i in range(len(q_a15)-1):
        if i == 0:
            if q_a15[i] <= value <= q_a15[i+1]:
                categories_a15.append(i+1)
                flag = True
                break    
        
        if q_a15[i] < value <= q_a15[i+1]:
            categories_a15.append(i+1)
            break
            


print('quantiles_a2:',quantiles_a2)
print('quantiles_a3:',quantiles_a3)
print('quantiles_a11:',quantiles_a11)
print('quantiles_a14:',quantiles_a14)
print('quantiles_a15:',quantiles_a15)

print('2',categories_a2)
print('3',categories_a3)
print('11',categories_a11)
print('14',categories_a14)
print('15',categories_a15)

print('2',len(categories_a2))
print('3',len(categories_a3))
print('11',len(categories_a11))
print('14',len(categories_a14))
print('15',len(categories_a15))
#quantitative_data_df

quantiles_a2: [15.17  21.814 25.468 32.282 40.92  74.83 ]
quantiles_a3: [ 0.     0.822  2.     4.415  9.5   28.   ]
quantiles_a11: [ 0.  0.  0.  1.  5. 67.]
quantiles_a14: [  0.   21.6 120.  181.  290.  980. ]
quantiles_a15: [0.000e+00 0.000e+00 0.000e+00 5.000e+01 5.878e+02 5.110e+04]
2 [1, 4, 2, 2, 2, 3, 4, 5, 2, 5, 5, 4, 5, 2, 5, 3, 2, 5, 5, 4, 2, 3, 4, 3, 5, 2, 3, 4, 4, 5, 4, 5, 1, 4, 2, 4, 1, 1, 2, 4, 5, 3, 4, 5, 5, 4, 3, 5, 2, 5, 4, 5, 5, 1, 5, 5, 1, 2, 4, 3, 5, 4, 5, 5, 4, 2, 1, 1, 2, 5, 3, 4, 4, 4, 5, 2, 2, 1, 3, 2, 3, 2, 1, 4, 2, 3, 5, 3, 4, 4, 1, 1, 5, 4, 4, 1, 2, 2, 5, 2, 3, 2, 3, 3, 4, 1, 5, 4, 3, 2, 3, 3, 2, 3, 3, 4, 4, 1, 1, 5, 3, 2, 2, 3, 3, 3, 1, 4, 2, 4, 2, 5, 1, 5, 4, 5, 4, 2, 5, 3, 5, 2, 3, 3, 5, 1, 1, 3, 3, 2, 5, 4, 2, 1, 5, 5, 1, 4, 1, 4, 5, 1, 5, 1, 1, 2, 2, 5, 5, 3, 5, 1, 2, 1, 5, 2, 2, 3, 2, 3, 3, 2, 1, 2, 5, 1, 1, 1, 3, 1, 5, 2, 3, 5, 2, 4, 2, 2, 1, 4, 3, 5, 1, 3, 1, 5, 1, 5, 1, 2, 5, 2, 5, 3, 2, 1, 4, 1, 5, 2, 3, 2, 2, 3, 1, 5, 2, 3, 5, 3, 3, 4, 5, 1, 5, 2, 3, 5, 4, 4, 2, 1, 1, 1, 3, 1, 1, 4, 2, 1, 4, 1, 4, 4, 5, 1, 5, 5, 3, 4, 5, 1, 1, 5, 5, 3, 3, 3, 5, 1, 2, 4, 3, 2, 3, 2, 1, 4, 2, 3, 3, 4, 2, 5, 4, 1, 4, 2, 4, 4, 3, 4, 4, 4, 5, 2, 3, 3, 4, 4, 1, 4, 4, 4, 1, 2, 2, 5, 2, 4, 1, 1, 2, 1, 3, 2, 2, 1, 3, 5, 3, 4, 2, 2, 1, 5, 4, 4, 3, 4, 5, 3, 1, 3, 2, 4, 1, 5, 5, 4, 2, 1, 5, 5, 4, 4, 2, 4, 3, 4, 5, 3, 3, 2, 2, 1, 3, 5, 3, 1, 1, 4, 1, 3, 5, 2, 1, 4, 3, 3, 2, 1, 5, 2, 1, 2, 2, 1, 3, 1, 5, 5, 1, 5, 3, 3, 4, 3, 1, 4, 1, 2, 5, 5, 3, 3, 2, 3, 4, 4, 2, 3, 1, 2, 5, 1, 1, 4, 4, 3, 2, 3, 3, 2, 5, 4, 4, 2, 3, 3, 2, 2, 1, 1, 1, 5, 3, 4, 2, 4, 1, 1, 3, 4, 2, 1, 1, 5, 3, 5, 4, 2, 4, 4, 3, 2, 1, 4, 3, 4, 1, 4, 1, 4, 4, 1, 2, 3, 5, 1, 5, 4, 1, 3, 5, 4, 4, 2, 5, 2, 5, 2, 4, 1, 3, 1, 1, 1, 1, 2, 1, 2, 1, 2, 5, 3, 5, 3, 3, 4, 3, 4, 3, 3, 3, 4, 4, 5, 5, 3]
3 [1, 2, 1, 4, 5, 3, 2, 1, 4, 4, 1, 3, 4, 2, 1, 5, 4, 3, 5, 3, 5, 5, 3, 4, 4, 4, 2, 4, 5, 2, 4, 4, 1, 3, 5, 1, 4, 3, 4, 4, 2, 5, 2, 1, 2, 2, 2, 1, 2, 4, 4, 4, 3, 1, 4, 1, 5, 1, 3, 5, 5, 4, 3, 1, 1, 3, 4, 4, 5, 1, 5, 4, 3, 1, 5, 2, 2, 4, 2, 3, 2, 3, 5, 2, 3, 3, 2, 1, 4, 1, 1, 4, 5, 4, 2, 3, 1, 1, 4, 4, 5, 3, 2, 1, 5, 2, 4, 3, 1, 2, 4, 1, 1, 3, 5, 2, 2, 5, 4, 3, 2, 2, 4, 5, 3, 5, 3, 1, 2, 5, 5, 3, 4, 5, 5, 4, 1, 3, 1, 1, 4, 2, 4, 5, 5, 4, 5, 1, 3, 3, 5, 2, 1, 1, 5, 5, 1, 3, 2, 2, 3, 3, 1, 1, 5, 2, 5, 5, 1, 2, 4, 3, 2, 4, 3, 2, 1, 2, 1, 3, 2, 3, 1, 5, 5, 2, 1, 1, 1, 1, 5, 1, 1, 5, 5, 2, 3, 5, 5, 3, 4, 2, 5, 5, 2, 2, 2, 2, 4, 5, 5, 5, 5, 3, 1, 2, 3, 1, 3, 5, 2, 3, 5, 1, 5, 3, 2, 2, 3, 2, 2, 3, 2, 1, 4, 1, 2, 5, 5, 4, 1, 2, 5, 2, 3, 4, 5, 3, 1, 5, 3, 4, 4, 3, 5, 4, 1, 4, 2, 3, 4, 4, 1, 4, 3, 1, 2, 2, 4, 4, 5, 1, 4, 3, 3, 2, 5, 3, 4, 2, 1, 2, 3, 5, 2, 4, 4, 3, 4, 4, 3, 5, 4, 3, 4, 2, 2, 2, 1, 4, 2, 2, 3, 3, 3, 4, 5, 5, 4, 3, 3, 2, 5, 1, 3, 1, 1, 5, 1, 3, 5, 3, 1, 3, 2, 2, 4, 3, 1, 1, 4, 5, 4, 1, 5, 3, 1, 5, 1, 3, 2, 1, 2, 5, 4, 3, 5, 2, 1, 3, 4, 1, 5, 5, 1, 5, 2, 4, 4, 1, 5, 3, 1, 5, 1, 4, 4, 4, 2, 2, 1, 4, 5, 5, 3, 5, 1, 5, 3, 4, 3, 1, 1, 4, 2, 2, 3, 4, 1, 3, 3, 1, 4, 4, 2, 3, 1, 2, 3, 5, 5, 3, 5, 5, 4, 4, 1, 4, 4, 2, 5, 2, 3, 4, 4, 4, 4, 1, 2, 4, 2, 5, 1, 5, 4, 3, 2, 1, 5, 2, 1, 1, 3, 4, 2, 4, 2, 3, 5, 2, 3, 1, 3, 3, 5, 2, 4, 3, 2, 1, 5, 2, 5, 2, 3, 2, 2, 1, 2, 1, 1, 3, 4, 4, 4, 4, 1, 1, 2, 3, 5, 1, 3, 2, 3, 5, 4, 3, 1, 1, 2, 5, 5, 3, 4, 2, 5, 2, 4, 3, 1, 2, 1, 3, 2, 4, 3, 3, 2, 4]
11 [1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 3, 1, 3, 1, 1, 1, 3, 2, 3, 1, 3, 1, 3, 3, 1, 1, 1, 1, 1, 1, 3, 3, 1, 1, 1, 1, 1, 2, 2, 2, 1, 3, 1, 1, 1, 1, 1, 1, 2, 3, 1, 1, 1, 1, 1, 2, 1, 1, 2, 3, 2, 1, 1, 1, 1, 1, 1, 2, 3, 3, 2, 3, 1, 1, 2, 2, 1, 1, 2, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 3, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 3, 1, 2, 1, 2, 1, 3, 1, 1, 3, 2, 1, 1, 1, 3, 3, 3, 3, 1, 3, 1, 1, 1, 2, 2, 1, 2, 1, 1, 3, 1, 3, 1, 1, 3, 2, 3, 1, 3, 3, 1, 3, 2, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 3, 1, 1, 1, 1, 3, 1, 3, 1, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 2, 1, 1, 1, 1, 3, 3, 1, 3, 1, 3, 1, 1, 1, 1, 1, 1, 3, 2, 1, 1, 1, 1, 2, 2, 3, 2, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 3, 1, 1, 3, 3, 1, 1, 1, 1, 1, 3, 1, 3, 3, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 3, 1, 3, 1, 3, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 3, 1, 2, 3, 1, 1, 1, 1, 1, 2, 2, 1, 1, 3, 1, 1, 1, 1, 3, 3, 2, 3, 3, 1, 2, 3, 1, 2, 1, 1, 1, 1, 2, 3, 1, 3, 3, 3, 3, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 3, 1, 1, 1, 1, 1, 1, 3, 3, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 2, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 3, 3, 1, 2, 3, 1, 1, 3, 1, 1, 2, 2, 1, 1, 3, 2, 1, 1, 3, 1, 1, 1, 3, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 2, 1, 1, 1, 1, 2, 1, 2, 1, 3, 1, 3, 2, 1, 2, 1, 1, 1, 2, 1, 3, 1, 1, 3, 3, 3, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 3, 2, 1, 1, 2, 3, 1, 3, 3, 1, 1, 2, 1, 1, 2, 1, 2, 2, 1, 1, 1, 1, 3, 1, 2, 2, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 3]
14 [2, 2, 2, 2, 2, 5, 5, 4, 3, 2, 5, 4, 1, 4, 5, 2, 3, 5, 1, 5, 2, 4, 4, 5, 1, 1, 3, 1, 3, 1, 5, 1, 4, 3, 3, 4, 2, 2, 1, 1, 1, 3, 5, 1, 5, 5, 4, 3, 4, 5, 4, 2, 4, 4, 2, 3, 4, 5, 4, 1, 1, 5, 3, 5, 3, 1, 2, 2, 2, 5, 3, 5, 2, 5, 2, 3, 5, 2, 3, 4, 1, 3, 2, 3, 1, 5, 4, 4, 4, 4, 2, 3, 2, 1, 5, 3, 1, 3, 2, 5, 4, 5, 1, 2, 1, 2, 1, 2, 5, 3, 1, 4, 3, 3, 3, 1, 5, 2, 2, 5, 3, 4, 2, 4, 4, 5, 5, 4, 4, 5, 2, 4, 2, 1, 2, 1, 4, 3, 5, 2, 2, 4, 3, 1, 2, 1, 2, 4, 5, 5, 1, 2, 4, 4, 1, 2, 4, 5, 3, 4, 4, 3, 5, 5, 1, 2, 2, 1, 3, 5, 4, 4, 2, 2, 5, 3, 5, 4, 2, 2, 4, 1, 4, 1, 2, 4, 4, 5, 5, 4, 1, 1, 4, 1, 2, 1, 3, 4, 3, 4, 5, 2, 1, 1, 4, 1, 3, 1, 4, 1, 3, 5, 1, 3, 4, 3, 4, 3, 2, 4, 2, 2, 4, 5, 2, 5, 5, 5, 5, 5, 5, 5, 1, 3, 1, 4, 2, 1, 5, 2, 4, 3, 2, 1, 2, 1, 4, 5, 4, 1, 5, 2, 4, 4, 1, 1, 1, 3, 2, 3, 2, 3, 1, 1, 5, 2, 4, 4, 2, 2, 3, 5, 5, 3, 2, 4, 5, 2, 3, 3, 5, 3, 4, 1, 2, 2, 5, 3, 1, 1, 5, 1, 1, 5, 1, 2, 4, 5, 5, 1, 4, 1, 4, 3, 1, 2, 2, 1, 2, 1, 3, 2, 3, 1, 2, 4, 5, 2, 4, 1, 5, 4, 5, 3, 2, 3, 5, 4, 5, 4, 1, 1, 1, 5, 2, 4, 3, 1, 2, 2, 4, 2, 1, 1, 3, 2, 3, 5, 1, 1, 5, 4, 1, 2, 5, 4, 1, 1, 4, 4, 5, 4, 4, 3, 5, 1, 2, 5, 2, 3, 1, 2, 4, 1, 2, 4, 3, 1, 5, 2, 2, 1, 5, 3, 1, 2, 4, 2, 3, 5, 2, 5, 3, 1, 4, 4, 3, 4, 3, 1, 1, 3, 3, 4, 1, 2, 3, 1, 4, 2, 1, 3, 3, 4, 1, 3, 5, 1, 2, 5, 2, 1, 3, 2, 1, 2, 5, 3, 5, 4, 2, 2, 5, 2, 4, 5, 2, 2, 2, 5, 5, 3, 3, 1, 3, 5, 2, 1, 3, 4, 2, 1, 3, 3, 5, 3, 3, 4, 4, 3, 1, 5, 2, 5, 3, 4, 4, 2, 3, 2, 1, 2, 3, 2, 4, 2, 2, 2, 5, 2, 1, 2, 3, 4, 5, 4, 3, 3, 3, 5, 5, 4, 4, 3, 3, 5, 3, 5, 5, 5]
15 [1, 1, 1, 1, 1, 1, 1, 3, 1, 3, 3, 1, 2, 1, 1, 1, 3, 3, 1, 1, 2, 1, 1, 3, 1, 1, 2, 3, 1, 1, 1, 3, 2, 3, 2, 1, 2, 1, 1, 1, 2, 2, 1, 3, 3, 3, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 3, 3, 2, 1, 1, 1, 1, 1, 1, 2, 3, 1, 1, 1, 1, 3, 1, 2, 2, 3, 1, 2, 1, 1, 1, 1, 2, 3, 2, 1, 1, 1, 1, 1, 3, 1, 1, 1, 3, 1, 1, 1, 1, 1, 3, 1, 2, 1, 2, 3, 1, 1, 3, 2, 1, 1, 1, 2, 1, 2, 2, 3, 1, 2, 1, 3, 1, 2, 3, 1, 3, 2, 1, 1, 2, 3, 3, 3, 1, 1, 2, 1, 2, 2, 1, 3, 1, 1, 3, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 3, 1, 1, 3, 1, 3, 1, 1, 1, 2, 3, 1, 3, 2, 3, 3, 1, 1, 1, 2, 1, 1, 1, 3, 1, 1, 3, 1, 1, 1, 1, 1, 1, 2, 2, 1, 2, 1, 1, 1, 1, 2, 1, 1, 3, 1, 2, 1, 2, 3, 2, 2, 2, 3, 1, 1, 1, 1, 1, 3, 1, 2, 1, 3, 3, 1, 1, 1, 1, 3, 3, 1, 1, 2, 1, 1, 2, 1, 3, 2, 1, 2, 1, 1, 1, 2, 1, 3, 3, 2, 1, 3, 1, 3, 2, 3, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 3, 1, 1, 1, 2, 3, 1, 1, 1, 3, 1, 3, 2, 2, 2, 3, 1, 2, 1, 1, 3, 2, 1, 3, 2, 1, 1, 1, 2, 1, 1, 2, 2, 2, 1, 3, 1, 2, 2, 3, 3, 1, 2, 2, 3, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 3, 1, 1, 1, 2, 2, 2, 3, 1, 2, 1, 3, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 3, 1, 2, 1, 1, 2, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 3, 1, 2, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 3, 1, 1, 1, 1, 1, 2, 3, 3, 1, 1, 1, 2, 1, 3, 2, 1, 1, 2, 2, 3, 1, 3, 1, 1, 3, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 2, 1, 2, 3, 1, 1, 1, 2, 1, 3, 1, 1, 3, 2, 1, 1, 3, 1, 1, 1, 2, 1, 1, 3, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 1, 3, 3, 1, 1, 2, 1, 1, 3, 1, 3, 2, 1, 1, 1, 3, 3, 3, 1, 2, 2, 1, 3, 3, 3, 2, 1, 1, 1, 1, 2, 2]
2 500
3 500
11 500
14 500
15 500

In [9]:
#заменяем столбцы
quantitative_data_df.loc[:,'A2']= categories_a2
quantitative_data_df.loc[:,'A3']= categories_a3
quantitative_data_df.loc[:,'A11']= categories_a11
quantitative_data_df.loc[:,'A14']= categories_a14
quantitative_data_df.loc[:,'A15']= categories_a15

quantitative_data_df

,A2,A3,A4,A5,A6,A11,A12,A13,A14,A15,A16
0,1.0,1.0,0.550722,0.550722,0.49114,1,0.519945,0.51633,2,1,0
1,4.0,2.0,0.550722,0.550722,0.120419,1,0.483500,0.51633,2,1,0
2,2.0,1.0,0.550722,0.550722,0.49114,1,0.483500,0.51633,2,1,1
3,2.0,4.0,0.550722,0.550722,0.731449,2,0.519945,0.51633,2,1,1
4,2.0,5.0,0.550722,0.550722,0.731449,1,0.519945,0.51633,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...
495,4.0,4.0,0.550722,0.550722,0.435057,1,0.519945,0.51633,5,1,0
496,4.0,3.0,0.319444,0.319444,0.842254,1,0.519945,0.51633,3,1,0
497,5.0,3.0,0.550722,0.550722,0.49114,1,0.519945,0.51633,5,1,0
498,5.0,2.0,0.550722,0.550722,0.437632,1,0.519945,0.51633,5,2,0
499,3.0,4.0,0.550722,0.550722,0.731449,3,0.483500,0.51633,5,2,1

In [13]:
quantitative_data_df.to_excel('quantitative_data.xlsx',index=False, header=True)

In [126]:
qualitative_data_df

,A2,A3,A4,A5,A6,A11,A12,A13,A14,A15,A16
0,17.92,0.540,0.446722,0.446722,0.388659,1,0.416371,0.412857,80,5,0
1,38.75,1.500,0.446722,0.446722,0.082718,0,0.381418,0.412857,76,0,0
2,23.92,0.665,0.446722,0.446722,0.388659,0,0.381418,0.412857,100,0,1
3,23.50,9.000,0.446722,0.446722,0.642097,5,0.416371,0.412857,120,0,1
4,24.42,12.335,0.446722,0.446722,0.642097,0,0.416371,0.412857,120,0,1
...,...,...,...,...,...,...,...,...,...,...,...
495,34.08,6.500,0.446722,0.446722,0.336538,0,0.416371,0.412857,443,0,0
496,40.92,2.250,0.236162,0.236162,0.77861,0,0.416371,0.412857,176,0,0
497,58.58,2.710,0.446722,0.446722,0.388659,0,0.416371,0.412857,320,0,0
498,42.83,1.250,0.446722,0.446722,0.33888,1,0.416371,0.412857,352,112,0
499,28.67,9.335,0.446722,0.446722,0.642097,6,0.381418,0.412857,381,168,1

In [127]:
quantitative_data_df

,A2,A3,A4,A5,A6,A11,A12,A13,A14,A15,A16
0,1.0,1.0,0.446722,0.446722,0.388659,1,0.416371,0.412857,2,1,0
1,4.0,2.0,0.446722,0.446722,0.082718,1,0.381418,0.412857,2,1,0
2,2.0,1.0,0.446722,0.446722,0.388659,1,0.381418,0.412857,2,1,1
3,2.0,4.0,0.446722,0.446722,0.642097,2,0.416371,0.412857,2,1,1
4,2.0,5.0,0.446722,0.446722,0.642097,1,0.416371,0.412857,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...
495,4.0,4.0,0.446722,0.446722,0.336538,1,0.416371,0.412857,5,1,0
496,4.0,3.0,0.236162,0.236162,0.77861,1,0.416371,0.412857,3,1,0
497,5.0,3.0,0.446722,0.446722,0.388659,1,0.416371,0.412857,5,1,0
498,5.0,2.0,0.446722,0.446722,0.33888,1,0.416371,0.412857,5,2,0
499,3.0,4.0,0.446722,0.446722,0.642097,3,0.381418,0.412857,5,2,1

## Задание 2

In [16]:


qual_data = pd.read_excel("qualitative_data.xlsx")
uni_2=list(qual_data['A2'].unique())
uni_3=list(qual_data['A3'].unique())
uni_4=list(qual_data['A4'].unique())
uni_5=list(qual_data['A5'].unique())
uni_6=list(qual_data['A6'].unique())
uni_11=list(qual_data['A11'].unique())
uni_12=list(qual_data['A12'].unique())
uni_13=list(qual_data['A13'].unique())
uni_14=list(qual_data['A14'].unique())
uni_15=list(qual_data['A15'].unique())
uni_16=list(qual_data['A16'].unique())

uni=[]
uni.append(uni_2)
uni.append(uni_3)
uni.append(uni_4)
uni.append(uni_5)
uni.append(uni_6)
uni.append(uni_11)
uni.append(uni_12)
uni.append(uni_13)
uni.append(uni_14)
uni.append(uni_15)
uni.append(uni_16)

columns = ['A2', 'A3', 'A4', 'A5', 'A6', 'A11', 'A12', 'A13', 'A14', 'A15', 'A16']

In [17]:
import pandas as pd
import numpy as np
import scipy.stats as stats


hee_df = pd.DataFrame([[None] * len(columns)] * len(columns),
                      index=columns,
                      columns=columns)

for index_x in range(len(uni)):
    col_x = columns[index_x]
    for index_y in range(len(uni)):
        col_y = columns[index_y]

        # Создаем таблицу сопряженности
        contingency_table = pd.crosstab(qual_data[col_x], qual_data[col_y])

        # Вычисляем статистику хи-квадрат
        chi2, p, dof, expected = stats.chi2_contingency(contingency_table)

        hee_df._set_value(col_x, col_y, chi2)

hee_df.to_excel("hee.xlsx")

In [25]:
import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency
import math

ShflM = 500# количество перестановок
alpha = 0.05
Perest_qual_df = pd.DataFrame([[None] * len(columns)] * len(columns),
                      index=columns,
                      columns=columns)

for index_x in range(len(uni)):
    col_x = columns[index_x]
    for index_y in range(len(uni)):
        if (index_y <= index_x): continue
        col_y = columns[index_y]
        Chi2_array = []
        for CurShfl in range(ShflM):
            qual_data[col_x] = np.random.permutation(qual_data[col_x].values)

            contingency_table = pd.crosstab(qual_data[col_x], qual_data[col_y])

            chi2, _, _, _ = chi2_contingency(contingency_table)
            Chi2_array.append(chi2)

        Chi2_array.sort()
        Perest_qual_df._set_value(col_x, col_y, Chi2_array[int(len(Chi2_array) * (1 - alpha))])
        Perest_qual_df._set_value(col_y, col_x, Chi2_array[int(len(Chi2_array) * (1 - alpha))])
        print(col_x, col_y, Chi2_array[int(len(Chi2_array) * (1 - alpha))])
Perest_qual_df.to_excel("Perest_qual.xlsx")

A2 A3 56980.51915346558
A2 A4 811.472105588647
A2 A5 814.6392767633369
A2 A6 4029.66583655337
A2 A11 6848.327550946617
A2 A12 317.4790925720294
A2 A13 823.1122912127817
A2 A14 43397.41271460022
A2 A15 56076.30924435502
A2 A16 317.8681572266588
A3 A4 696.7610831960626
A3 A5 693.8375405732719
A3 A6 2622.9339988702604
A3 A11 4587.485372495527
A3 A12 205.1279043566496
A3 A13 694.9612380402822
A3 A14 28119.90325304956
A3 A15 36311.41020266901
A3 A16 206.93778150227104
A4 A5 7.639527992084023
A4 A6 47.912920609333106
A4 A11 99.35056413366905
A4 A12 4.506816975213379
A4 A13 11.997844681023217
A4 A14 643.3119067427851
A4 A15 697.376927701242
A4 A16 4.682840995770062
A5 A6 43.721988583581656
A5 A11 99.08444171771318
A5 A12 4.754316250783002
A5 A13 13.145028346266734
A5 A14 647.150029224676
A5 A15 691.5374677624493
A5 A16 4.682840995770062
A6 A11 342.2537692592276
A6 A12 22.83551394892174
A6 A13 47.406296599832615
A6 A14 2021.327693080596
A6 A15 2605.0061167896906
A6 A16 21.86355278960995
A11 A12 29.332512795156767
A11 A13 98.24233429424203
A11 A14 3699.604951856355
A11 A15 4734.607778022075
A11 A16 29.04857533096382
A12 A13 4.399064771540901
A12 A14 154.33524933195028
A12 A15 193.34141607559064
A12 A16 3.9284927338651734
A13 A14 649.5742664727551
A13 A15 708.1038591753863
A13 A16 4.828098711304166
A14 A15 27917.91928229135
A14 A16 153.4884016889387
A15 A16 193.7775695537962

In [24]:
import pandas as pd
import numpy as np
import scipy.stats as stats


hee_df = pd.DataFrame([[None] * len(columns)] * len(columns),
                      index=columns,
                      columns=columns)

for index_x in range(len(uni)):
    col_x = columns[index_x]
    for index_y in range(len(uni)):
        col_y = columns[index_y]

        # Создаем таблицу сопряженности
        contingency_table = pd.crosstab(qual_data[col_x], qual_data[col_y])

        # Вычисляем статистику хи-квадрат
        chi2, p, dof, expected = stats.chi2_contingency(contingency_table)

        # Записываем значение хи-квадрат в DataFrame
        hee_df._set_value(col_x, col_y, p)

hee_df.to_excel("p_value_qual.xlsx")

## Критерий Пирсона для количественных данных

In [18]:
quan_data = pd.read_excel("quantitative_data.xlsx")
uni_2_quan=list(quan_data['A2'].unique())
uni_3_quan=list(quan_data['A3'].unique())
uni_4_quan=list(quan_data['A4'].unique())
uni_5_quan=list(quan_data['A5'].unique())
uni_6_quan=list(quan_data['A6'].unique())
uni_11_quan=list(quan_data['A11'].unique())
uni_12_quan=list(quan_data['A12'].unique())
uni_13_quan=list(quan_data['A13'].unique())
uni_14_quan=list(quan_data['A14'].unique())
uni_15_quan=list(quan_data['A15'].unique())
uni_16_quan=list(quan_data['A16'].unique())

uni_quan=[]
uni_quan.append(uni_2_quan)
uni_quan.append(uni_3_quan)
uni_quan.append(uni_4_quan)
uni_quan.append(uni_5_quan)
uni_quan.append(uni_6_quan)
uni_quan.append(uni_11_quan)
uni_quan.append(uni_12_quan)
uni_quan.append(uni_13_quan)
uni_quan.append(uni_14_quan)
uni_quan.append(uni_15_quan)
uni_quan.append(uni_16_quan)

In [22]:
import pandas as pd
import numpy as np
import scipy.stats as stats


hee_quan_df = pd.DataFrame([[None] * len(columns)] * len(columns),
                      index=columns,
                      columns=columns)

for index_x in range(len(uni_quan)):
    col_x = columns[index_x]
    for index_y in range(len(uni_quan)):
        col_y = columns[index_y]

        # Создаем таблицу сопряженности
        contingency_table = pd.crosstab(quan_data[col_x], quan_data[col_y])

        # Вычисляем статистику хи-квадрат
        chi2, p, dof, expected = stats.chi2_contingency(contingency_table)

        hee_quan_df._set_value(col_x, col_y, chi2)


hee_quan_df.to_excel("hee_quan.xlsx",sheet_name='Хи-квадрат')

In [23]:
import pandas as pd
import numpy as np
import scipy.stats as stats


p_value_quan_df = pd.DataFrame([[None] * len(columns)] * len(columns),
                      index=columns,
                      columns=columns)

for index_x in range(len(uni_quan)):
    col_x = columns[index_x]
    for index_y in range(len(uni_quan)):
        col_y = columns[index_y]

        # Создаем таблицу сопряженности
        contingency_table = pd.crosstab(quan_data[col_x], quan_data[col_y])

        # Вычисляем статистику хи-квадрат
        chi2, p, dof, expected = stats.chi2_contingency(contingency_table)

        p_value_quan_df._set_value(col_x, col_y, p)


p_value_quan_df.to_excel("p_value.xlsx",sheet_name='p_value')

In [182]:
hee_quan_df

,A2,A3,A4,A5,A6,A11,A12,A13,A14,A15,A16
A2,2000.0,72.771354,7.501664,7.501664,63.848419,22.486064,12.102029,4.923498,81.632401,10.485558,19.0395
A3,72.771354,2000.0,12.694107,12.694107,79.651236,29.512675,5.203919,13.219825,67.388929,12.856724,35.447141
A4,7.501664,12.694107,1000.0,1000.0,41.122673,11.172583,1.463126,12.394728,24.59755,6.675919,19.525079
A5,7.501664,12.694107,1000.0,1000.0,41.122673,11.172583,1.463126,12.394728,24.59755,6.675919,19.525079
A6,63.848419,79.651236,41.122673,41.122673,6500.0,49.906907,25.139148,50.711184,98.368478,23.07514,84.312729
A11,22.486064,29.512675,11.172583,11.172583,49.906907,1000.0,2.614751,17.448962,17.732166,82.698568,120.927806
A12,12.102029,5.203919,1.463126,1.463126,25.139148,2.614751,495.984855,1.10093,21.251181,2.045121,0.523734
A13,4.923498,13.219825,12.394728,12.394728,50.711184,17.448962,1.10093,1000.0,8.956503,29.281911,6.13086
A14,81.632401,67.388929,24.59755,24.59755,98.368478,17.732166,21.251181,8.956503,2000.0,10.32786,32.91096
A15,10.485558,12.856724,6.675919,6.675919,23.07514,82.698568,2.045121,29.281911,10.32786,1000.0,79.485646
A16,19.0395,35.447141,19.525079,19.525079,84.312729,120.927806,0.523734,6.13086,32.91096,79.485646,495.964439

In [19]:
quan_data = pd.read_excel("quantitative_data.xlsx")
uni_2_phi=list(quan_data['A2'].unique())
uni_3_phi=list(quan_data['A3'].unique())
uni_4_phi=list(quan_data['A4'].unique())
uni_5_phi=list(quan_data['A5'].unique())
uni_6_phi=list(quan_data['A6'].unique())
uni_11_phi=list(quan_data['A11'].unique())
uni_12_phi=list(quan_data['A12'].unique())
uni_13_phi=list(quan_data['A13'].unique())
uni_14_phi=list(quan_data['A14'].unique())
uni_15_phi=list(quan_data['A15'].unique())
uni_16_phi=list(quan_data['A16'].unique())

uni_phi=[]
uni_phi.append(uni_2_phi)
uni_phi.append(uni_3_phi)
uni_phi.append(uni_4_phi)
uni_phi.append(uni_5_phi)
uni_phi.append(uni_6_phi)
uni_phi.append(uni_11_phi)
uni_phi.append(uni_12_phi)
uni_phi.append(uni_13_phi)
uni_phi.append(uni_14_phi)
uni_phi.append(uni_15_phi)
uni_phi.append(uni_16_phi)

In [20]:
import pandas as pd
import numpy as np
import scipy.stats as stats


phi_quan_df = pd.DataFrame([[None] * len(columns)] * len(columns),
                      index=columns,
                      columns=columns)

for index_x in range(len(uni_phi)):
    col_x = columns[index_x]
    for index_y in range(len(uni_phi)):
        col_y = columns[index_y]

        # Создаем таблицу сопряженности
        contingency_table = pd.crosstab(quan_data[col_x], quan_data[col_y])

        # Вычисляем статистику хи-квадрат
        chi2, p, dof, expected = stats.chi2_contingency(contingency_table)

        n = 500
        phi = np.sqrt(chi2 / (n+chi2))
        
        
        phi_quan_df._set_value(col_x, col_y, phi)
        #print(col_x)
        

phi_quan_df.to_excel("phi_quan.xlsx", sheet_name='Пирсон')

In [21]:
import pandas as pd
import numpy as np
import scipy.stats as stats


crm_quan_df = pd.DataFrame([[None] * len(columns)] * len(columns),
                      index=columns,
                      columns=columns)

for index_x in range(len(uni_phi)):
    col_x = columns[index_x]
    for index_y in range(len(uni_phi)):
        col_y = columns[index_y]

        # Создаем таблицу сопряженности
        contingency_table = pd.crosstab(quan_data[col_x], quan_data[col_y])

        # Вычисляем статистику хи-квадрат
        chi2, p, dof, expected = stats.chi2_contingency(contingency_table)

        n=500
        phi = np.sqrt(chi2 / (n+chi2))
        
        # коэффициент Крамера
        cramer_v = np.sqrt(chi2 / (n * min(contingency_table.shape[0]-1, contingency_table.shape[1]-1)))
       
        crm_quan_df._set_value(col_x, col_y, cramer_v)

crm_quan_df.to_excel("crm_quan.xlsx",sheet_name='Крамер')

In [27]:
import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency


ShflM = 500# количество перестановок
alpha = 0.05
Perest_quan_df = pd.DataFrame([[None] * len(columns)] * len(columns),
                      index=columns,
                      columns=columns)

for index_x in range(len(uni_quan)):
    col_x = columns[index_x]
    for index_y in range(len(uni_quan)):
        if (index_y <= index_x): continue
        col_y = columns[index_y]
        Chi2_array = []
        for CurShfl in range(ShflM):
            quan_data[col_x] = np.random.permutation(quan_data[col_x].values)

            contingency_table = pd.crosstab(quan_data[col_x], quan_data[col_y])

            chi2, _, _, _ = chi2_contingency(contingency_table)
            Chi2_array.append(chi2)

        Chi2_array.sort()
        Perest_quan_df._set_value(col_x, col_y, Chi2_array[int(len(Chi2_array) * (1 - alpha))])
        Perest_quan_df._set_value(col_y, col_x, Chi2_array[int(len(Chi2_array) * (1 - alpha))])
        #print(col_x, col_y, Chi2_array[int(len(Chi2_array) * (1 - alpha))])
Perest_quan_df.to_excel("Perest_quan.xlsx")

KeyboardInterrupt:

In [30]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import mutual_info_classif

df1 = pd.read_excel('quantitative_data.xlsx')
X1 = df1["A4"]
X2 = df1["A5"]
Y = df1["A16"]
# Рассчитываем взаимную информацию между X1 и Y
mi_X1_Y = mutual_info_classif(X1.values.reshape(-1, 1), Y, discrete_features=True)
print(f"Взаимная информация между X1 и Y: {mi_X1_Y[0]}")

# Рассчитываем взаимную информацию между X2 и Y
mi_X2_Y = mutual_info_classif(X2.values.reshape(-1, 1), Y, discrete_features=True)
print(f"Взаимная информация между X2 и Y: {mi_X2_Y[0]}")

Взаимная информация между X1 и Y: 0.02059015902799573
Взаимная информация между X2 и Y: 0.02059015902799573

c:\Users\katya\anaconda3\Lib\site-packages\sklearn\metrics\cluster\_supervised.py:64: UserWarning: Clustering metrics expects discrete values but received continuous values for label, and binary values for target
  warnings.warn(msg, UserWarning)
c:\Users\katya\anaconda3\Lib\site-packages\sklearn\metrics\cluster\_supervised.py:64: UserWarning: Clustering metrics expects discrete values but received continuous values for label, and binary values for target
  warnings.warn(msg, UserWarning)

In [47]:
def conditional_mutual_information(data, X:set, Y:set, Z:set, delta = 1):
        X = list(X); Y = list(Y); Z = list(Z)
        cmi = 0

        P_Z = data.groupby(Z).size()
        P_Z = P_Z/P_Z.sum()

        P_XZ = data.groupby(X + Z).size()
        P_XZ = P_XZ/P_XZ.sum()

        P_YZ = data.groupby(Y + Z).size()
        P_YZ = P_YZ/P_YZ.sum()

        P_XYZ = data.groupby(X + Y + Z).size()
        P_XYZ = P_XYZ/P_XYZ.sum()

        for ind in P_XYZ.index:
            x_ind = ind[:len(X)]
            y_ind = ind[len(X):len(X + Y)]
            z_ind = ind[len(X + Y):]

            xz_ind = x_ind + z_ind
            yz_ind = y_ind + z_ind
            xyz_ind = ind

            z_ind =  pd.MultiIndex.from_tuples([z_ind], names = Z) if len(Z) != 1 else pd.Index(z_ind, name = Z[0])
            xz_ind = pd.MultiIndex.from_tuples([xz_ind], names = X + Z)
            yz_ind = pd.MultiIndex.from_tuples([yz_ind], names = Y + Z)
            xyz_ind = pd.MultiIndex.from_tuples([xyz_ind], names = X + Y + Z)

            cmi += delta * P_XYZ[xyz_ind].item() * np.log2(P_Z[z_ind].item() * P_XYZ[xyz_ind].item() / (P_XZ[xz_ind].item() * P_YZ[yz_ind].item()))

        return cmi

data = df1
data['X'] = X1
data['Y'] = Y
data['Z'] = X2
pmi1 = conditional_mutual_information(data, {'X'}, {'Y'}, {'Z'})

data['X'] = X2
data['Y'] = Y
data['Z'] = X1
pmi2 = conditional_mutual_information(data, {'X'}, {'Y'}, {'Z'})
print(pmi1, pmi2)

0.0 0.0

In [49]:
np.corrcoef(X1, X2)

array([[1., 1.],
       [1., 1.]])