In [34]:
import pandas as pd

df=pd.read_csv('V5.csv', sep=';', decimal=',')
df.head()

      A2      A3 A4 A5  A6  A11 A12 A13  A14  A15 A16
0  17.92   0.540  u  g   c    1   t   g   80    5   -
1  38.75   1.500  u  g  ff    0   f   g   76    0   -
2  23.92   0.665  u  g   c    0   f   g  100    0   +
3  23.50   9.000  u  g   q    5   t   g  120    0   +
4  24.42  12.335  u  g   q    0   t   g  120    0   +

In [35]:
qualitative_data_df=df.loc[:,['A4','A5','A6','A12','A13','A16']]#качественные данные
qualitative_data_df

    A4 A5  A6 A12 A13 A16
0    u  g   c   t   g   -
1    u  g  ff   f   g   -
2    u  g   c   f   g   +
3    u  g   q   t   g   +
4    u  g   q   t   g   +
..  .. ..  ..  ..  ..  ..
495  u  g  aa   t   g   -
496  y  p   x   t   g   -
497  u  g   c   t   g   -
498  u  g   m   t   g   -
499  u  g   q   f   g   +

[500 rows x 6 columns]

In [36]:
quantitative_data_df=df.loc[:,['A2','A3','A11','A14','A15','A16']]#количественные данные
quantitative_data_df

        A2      A3  A11  A14  A15 A16
0    17.92   0.540    1   80    5   -
1    38.75   1.500    0   76    0   -
2    23.92   0.665    0  100    0   +
3    23.50   9.000    5  120    0   +
4    24.42  12.335    0  120    0   +
..     ...     ...  ...  ...  ...  ..
495  34.08   6.500    0  443    0   -
496  40.92   2.250    0  176    0   -
497  58.58   2.710    0  320    0   -
498  42.83   1.250    1  352  112   -
499  28.67   9.335    6  381  168   +

[500 rows x 6 columns]

In [37]:
quantitative_data_df['A16'] = quantitative_data_df['A16'].apply(lambda x: 1 if x=='+' else 0 )
quantitative_data_df.head()

      A2      A3  A11  A14  A15  A16
0  17.92   0.540    1   80    5    0
1  38.75   1.500    0   76    0    0
2  23.92   0.665    0  100    0    1
3  23.50   9.000    5  120    0    1
4  24.42  12.335    0  120    0    1

In [38]:
qualitative_data_df['A16'] = qualitative_data_df['A16'].apply(lambda x: 1 if x=='+' else 0)
qualitative_data_df

    A4 A5  A6 A12 A13  A16
0    u  g   c   t   g    0
1    u  g  ff   f   g    0
2    u  g   c   f   g    1
3    u  g   q   t   g    1
4    u  g   q   t   g    1
..  .. ..  ..  ..  ..  ...
495  u  g  aa   t   g    0
496  y  p   x   t   g    0
497  u  g   c   t   g    0
498  u  g   m   t   g    0
499  u  g   q   f   g    1

[500 rows x 6 columns]

In [39]:
##это вроде и не нужно ща, даже не смотри сюда
# positive_class = qualitative_data_df.loc[qualitative_data_df['A16']==1].shape[0]#количество стро с единицей - 224
# apr_ver_positive = positive_class/500 #априорная вероятность принадлежности к положительному классу - 0.448
# apr_ver_negative = 1-apr_ver_positive#априорная вероятность принадлежности  к негативному классу - 0.552

In [40]:
#данные для табличек "Значения после калибровки" 
count=qualitative_data_df['A13'].value_counts()['s']#количество буковок определенных в определенном столбце
plus_count=qualitative_data_df[(qualitative_data_df['A13'] == 's') & (qualitative_data_df['A16'] == 1)].shape[0]#их количество для положительного класса
minus_count = qualitative_data_df[(qualitative_data_df['A13'] == 's') & (qualitative_data_df['A16'] == 0)].shape[0]#для отрицательного
print(count, plus_count,minus_count)

40 11 29

In [41]:
#Столбец А4
qualitative_data_df['A4']=qualitative_data_df['A4'].replace('u',0.4467223273)
qualitative_data_df['A4']=qualitative_data_df['A4'].replace('y',0.2361623612)
qualitative_data_df['A4']=qualitative_data_df['A4'].replace('l',0.6187845298)

#Столбец А5
qualitative_data_df['A5']=qualitative_data_df['A5'].replace('g',0.4467223273)
qualitative_data_df['A5']=qualitative_data_df['A5'].replace('p',0.2361623612)
qualitative_data_df['A5']=qualitative_data_df['A5'].replace('gg',0.6187845298)

#Столбец А6
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('c',0.388659184)
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('d',0.245076586)
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('сc',0.631454005)
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('i',0.168674698)
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('j',0.288659793)
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('k',0.272506082)
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('m',0.338880484)
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('r',0.549019607)
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('q',0.642096642)
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('w',0.495121951)
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('x',0.778609625)
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('e',0.574948665)
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('aa',0.336538461)
qualitative_data_df['A6']=qualitative_data_df['A6'].replace('ff',0.082717873)

#Столбец А12
qualitative_data_df['A12']=qualitative_data_df['A12'].replace('t',0.416371077)
qualitative_data_df['A12']=qualitative_data_df['A12'].replace('f',0.381418092)

#Столбец А13
qualitative_data_df['A13']=qualitative_data_df['A13'].replace('g',0.412856995)
qualitative_data_df['A13']=qualitative_data_df['A13'].replace('p',0.288659793)
qualitative_data_df['A13']=qualitative_data_df['A13'].replace('s',0.245076586)


print(qualitative_data_df)

           A4        A5        A6       A12       A13  A16
0    0.446722  0.446722  0.388659  0.416371  0.412857    0
1    0.446722  0.446722  0.082718  0.381418  0.412857    0
2    0.446722  0.446722  0.388659  0.381418  0.412857    1
3    0.446722  0.446722  0.642097  0.416371  0.412857    1
4    0.446722  0.446722  0.642097  0.416371  0.412857    1
..        ...       ...       ...       ...       ...  ...
495  0.446722  0.446722  0.336538  0.416371  0.412857    0
496  0.236162  0.236162   0.77861  0.416371  0.412857    0
497  0.446722  0.446722  0.388659  0.416371  0.412857    0
498  0.446722  0.446722   0.33888  0.416371  0.412857    0
499  0.446722  0.446722  0.642097  0.381418  0.412857    1

[500 rows x 6 columns]

In [42]:
quantitative_data_df.iloc[90:91]

       A2   A3  A11  A14  A15  A16
90  17.67  0.0    0   86    0    0

In [43]:
# Расчет интервалов дискретизации по квантилям
import numpy as np

np.set_printoptions(precision=3)

quantiles_a2 = np.quantile(quantitative_data_df['A2'],[0.0, 0.2, 0.4, 0.6, 0.8, 1.0])
quantiles_a3 = np.quantile(quantitative_data_df['A3'],[0.0, 0.2, 0.4, 0.6, 0.8, 1.0])
quantiles_a11 = np.quantile(quantitative_data_df['A11'],[0.0, 0.2, 0.4, 0.6, 0.8, 1.0])
quantiles_a14 = np.quantile(quantitative_data_df['A14'],[0.0, 0.2, 0.4, 0.6, 0.8, 1.0])
quantiles_a15 = np.quantile(quantitative_data_df['A15'],[0.0, 0.2, 0.4, 0.6, 0.8, 1.0])

categories_a2=[]
categories_a3=[]
categories_a11=[]
categories_a14=[]
categories_a15=[]

#Фигня конечно но иначе не работает

q_a3=[0.000, 0.822, 2.000, 4.415, 9.500, 28.000]
q_a11=[0.0, 1.0, 5.0, 67.0]
q_a14=[0.0, 21.6, 120.0, 181.0, 290.0, 980.0]
q_a15=[0.0,50.0,587.8, 51100.0]

#Добавим все данные в массивЫ
#A2
for value in quantitative_data_df['A2']:
    for i in range(len(quantiles_a2)):
        if i == 0:
            if quantiles_a2[i] <= value <= quantiles_a2[i+1]:
                categories_a2.append(i+1)
                flag = True
                break    
        if quantiles_a2[i] < value <= quantiles_a2[i+1]:
            categories_a2.append(i+1)
            break
            
#A3
flag = False
idx = 0
for value in quantitative_data_df['A3']:
    for i in range(len(q_a3)):
        if i == 0:
            if q_a3[i] <= value <= q_a3[i+1]:
                categories_a3.append(i+1)
                flag = True
                break    
        
        if q_a3[i] < value <= q_a3[i+1]:
            categories_a3.append(i+1)
            flag = True
            break
    if flag == False:
        print(idx)
    
    flag = False
    idx = idx + 1
            

#A11
for value in quantitative_data_df['A11']:
    for i in range(len(q_a11)-1):
        if i == 0:
            if q_a11[i] <= value <= q_a11[i+1]:
                categories_a11.append(i+1)
                flag = True
                break    
        
        if q_a11[i] < value <= q_a11[i+1]:
            categories_a11.append(i+1)
            break
            

#A14
for value in quantitative_data_df['A14']:
    for i in range(len(q_a14)-1):
        if i == 0:
            if q_a14[i] <= value <= q_a14[i+1]:
                categories_a14.append(i+1)
                flag = True
                break    
        
        if q_a14[i] < value <= q_a14[i+1]:
            categories_a14.append(i+1)
            break
            

#A15
for value in quantitative_data_df['A15']:
    for i in range(len(q_a15)-1):
        if i == 0:
            if q_a15[i] <= value <= q_a15[i+1]:
                categories_a15.append(i+1)
                flag = True
                break    
        
        if q_a15[i] < value <= q_a15[i+1]:
            categories_a15.append(i+1)
            break
            


print('quantiles_a2:',quantiles_a2)
print('quantiles_a3:',quantiles_a3)
print('quantiles_a11:',quantiles_a11)
print('quantiles_a14:',quantiles_a14)
print('quantiles_a15:',quantiles_a15)

print('2',categories_a2)
print('3',categories_a3)
print('11',categories_a11)
print('14',categories_a14)
print('15',categories_a15)

print('2',len(categories_a2))
print('3',len(categories_a3))
print('11',len(categories_a11))
print('14',len(categories_a14))
print('15',len(categories_a15))
#quantitative_data_df

quantiles_a2: [15.17  21.814 25.468 32.282 40.92  74.83 ]
quantiles_a3: [ 0.     0.822  2.     4.415  9.5   28.   ]
quantiles_a11: [ 0.  0.  0.  1.  5. 67.]
quantiles_a14: [  0.   21.6 120.  181.  290.  980. ]
quantiles_a15: [0.000e+00 0.000e+00 0.000e+00 5.000e+01 5.878e+02 5.110e+04]
2 [1, 4, 2, 2, 2, 3, 4, 5, 2, 5, 5, 4, 5, 2, 5, 3, 2, 5, 5, 4, 2, 3, 4, 3, 5, 2, 3, 4, 4, 5, 4, 5, 1, 4, 2, 4, 1, 1, 2, 4, 5, 3, 4, 5, 5, 4, 3, 5, 2, 5, 4, 5, 5, 1, 5, 5, 1, 2, 4, 3, 5, 4, 5, 5, 4, 2, 1, 1, 2, 5, 3, 4, 4, 4, 5, 2, 2, 1, 3, 2, 3, 2, 1, 4, 2, 3, 5, 3, 4, 4, 1, 1, 5, 4, 4, 1, 2, 2, 5, 2, 3, 2, 3, 3, 4, 1, 5, 4, 3, 2, 3, 3, 2, 3, 3, 4, 4, 1, 1, 5, 3, 2, 2, 3, 3, 3, 1, 4, 2, 4, 2, 5, 1, 5, 4, 5, 4, 2, 5, 3, 5, 2, 3, 3, 5, 1, 1, 3, 3, 2, 5, 4, 2, 1, 5, 5, 1, 4, 1, 4, 5, 1, 5, 1, 1, 2, 2, 5, 5, 3, 5, 1, 2, 1, 5, 2, 2, 3, 2, 3, 3, 2, 1, 2, 5, 1, 1, 1, 3, 1, 5, 2, 3, 5, 2, 4, 2, 2, 1, 4, 3, 5, 1, 3, 1, 5, 1, 5, 1, 2, 5, 2, 5, 3, 2, 1, 4, 1, 5, 2, 3, 2, 2, 3, 1, 5, 2, 3, 5, 3, 3, 4, 5, 1, 5, 2, 3, 5, 4, 4, 2, 1, 1, 1, 3, 1, 1, 4, 2, 1, 4, 1, 4, 4, 5, 1, 5, 5, 3, 4, 5, 1, 1, 5, 5, 3, 3, 3, 5, 1, 2, 4, 3, 2, 3, 2, 1, 4, 2, 3, 3, 4, 2, 5, 4, 1, 4, 2, 4, 4, 3, 4, 4, 4, 5, 2, 3, 3, 4, 4, 1, 4, 4, 4, 1, 2, 2, 5, 2, 4, 1, 1, 2, 1, 3, 2, 2, 1, 3, 5, 3, 4, 2, 2, 1, 5, 4, 4, 3, 4, 5, 3, 1, 3, 2, 4, 1, 5, 5, 4, 2, 1, 5, 5, 4, 4, 2, 4, 3, 4, 5, 3, 3, 2, 2, 1, 3, 5, 3, 1, 1, 4, 1, 3, 5, 2, 1, 4, 3, 3, 2, 1, 5, 2, 1, 2, 2, 1, 3, 1, 5, 5, 1, 5, 3, 3, 4, 3, 1, 4, 1, 2, 5, 5, 3, 3, 2, 3, 4, 4, 2, 3, 1, 2, 5, 1, 1, 4, 4, 3, 2, 3, 3, 2, 5, 4, 4, 2, 3, 3, 2, 2, 1, 1, 1, 5, 3, 4, 2, 4, 1, 1, 3, 4, 2, 1, 1, 5, 3, 5, 4, 2, 4, 4, 3, 2, 1, 4, 3, 4, 1, 4, 1, 4, 4, 1, 2, 3, 5, 1, 5, 4, 1, 3, 5, 4, 4, 2, 5, 2, 5, 2, 4, 1, 3, 1, 1, 1, 1, 2, 1, 2, 1, 2, 5, 3, 5, 3, 3, 4, 3, 4, 3, 3, 3, 4, 4, 5, 5, 3]
3 [1, 2, 1, 4, 5, 3, 2, 1, 4, 4, 1, 3, 4, 2, 1, 5, 4, 3, 5, 3, 5, 5, 3, 4, 4, 4, 2, 4, 5, 2, 4, 4, 1, 3, 5, 1, 4, 3, 4, 4, 2, 5, 2, 1, 2, 2, 2, 1, 2, 4, 4, 4, 3, 1, 4, 1, 5, 1, 3, 5, 5, 4, 3, 1, 1, 3, 4, 4, 5, 1, 5, 4, 3, 1, 5, 2, 2, 4, 2, 3, 2, 3, 5, 2, 3, 3, 2, 1, 4, 1, 1, 4, 5, 4, 2, 3, 1, 1, 4, 4, 5, 3, 2, 1, 5, 2, 4, 3, 1, 2, 4, 1, 1, 3, 5, 2, 2, 5, 4, 3, 2, 2, 4, 5, 3, 5, 3, 1, 2, 5, 5, 3, 4, 5, 5, 4, 1, 3, 1, 1, 4, 2, 4, 5, 5, 4, 5, 1, 3, 3, 5, 2, 1, 1, 5, 5, 1, 3, 2, 2, 3, 3, 1, 1, 5, 2, 5, 5, 1, 2, 4, 3, 2, 4, 3, 2, 1, 2, 1, 3, 2, 3, 1, 5, 5, 2, 1, 1, 1, 1, 5, 1, 1, 5, 5, 2, 3, 5, 5, 3, 4, 2, 5, 5, 2, 2, 2, 2, 4, 5, 5, 5, 5, 3, 1, 2, 3, 1, 3, 5, 2, 3, 5, 1, 5, 3, 2, 2, 3, 2, 2, 3, 2, 1, 4, 1, 2, 5, 5, 4, 1, 2, 5, 2, 3, 4, 5, 3, 1, 5, 3, 4, 4, 3, 5, 4, 1, 4, 2, 3, 4, 4, 1, 4, 3, 1, 2, 2, 4, 4, 5, 1, 4, 3, 3, 2, 5, 3, 4, 2, 1, 2, 3, 5, 2, 4, 4, 3, 4, 4, 3, 5, 4, 3, 4, 2, 2, 2, 1, 4, 2, 2, 3, 3, 3, 4, 5, 5, 4, 3, 3, 2, 5, 1, 3, 1, 1, 5, 1, 3, 5, 3, 1, 3, 2, 2, 4, 3, 1, 1, 4, 5, 4, 1, 5, 3, 1, 5, 1, 3, 2, 1, 2, 5, 4, 3, 5, 2, 1, 3, 4, 1, 5, 5, 1, 5, 2, 4, 4, 1, 5, 3, 1, 5, 1, 4, 4, 4, 2, 2, 1, 4, 5, 5, 3, 5, 1, 5, 3, 4, 3, 1, 1, 4, 2, 2, 3, 4, 1, 3, 3, 1, 4, 4, 2, 3, 1, 2, 3, 5, 5, 3, 5, 5, 4, 4, 1, 4, 4, 2, 5, 2, 3, 4, 4, 4, 4, 1, 2, 4, 2, 5, 1, 5, 4, 3, 2, 1, 5, 2, 1, 1, 3, 4, 2, 4, 2, 3, 5, 2, 3, 1, 3, 3, 5, 2, 4, 3, 2, 1, 5, 2, 5, 2, 3, 2, 2, 1, 2, 1, 1, 3, 4, 4, 4, 4, 1, 1, 2, 3, 5, 1, 3, 2, 3, 5, 4, 3, 1, 1, 2, 5, 5, 3, 4, 2, 5, 2, 4, 3, 1, 2, 1, 3, 2, 4, 3, 3, 2, 4]
11 [1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 3, 1, 3, 1, 1, 1, 3, 2, 3, 1, 3, 1, 3, 3, 1, 1, 1, 1, 1, 1, 3, 3, 1, 1, 1, 1, 1, 2, 2, 2, 1, 3, 1, 1, 1, 1, 1, 1, 2, 3, 1, 1, 1, 1, 1, 2, 1, 1, 2, 3, 2, 1, 1, 1, 1, 1, 1, 2, 3, 3, 2, 3, 1, 1, 2, 2, 1, 1, 2, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 3, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 3, 1, 2, 1, 2, 1, 3, 1, 1, 3, 2, 1, 1, 1, 3, 3, 3, 3, 1, 3, 1, 1, 1, 2, 2, 1, 2, 1, 1, 3, 1, 3, 1, 1, 3, 2, 3, 1, 3, 3, 1, 3, 2, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 3, 1, 1, 1, 1, 3, 1, 3, 1, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 2, 1, 1, 1, 1, 3, 3, 1, 3, 1, 3, 1, 1, 1, 1, 1, 1, 3, 2, 1, 1, 1, 1, 2, 2, 3, 2, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 3, 1, 1, 3, 3, 1, 1, 1, 1, 1, 3, 1, 3, 3, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 3, 1, 3, 1, 3, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 3, 1, 2, 3, 1, 1, 1, 1, 1, 2, 2, 1, 1, 3, 1, 1, 1, 1, 3, 3, 2, 3, 3, 1, 2, 3, 1, 2, 1, 1, 1, 1, 2, 3, 1, 3, 3, 3, 3, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 3, 1, 1, 1, 1, 1, 1, 3, 3, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 2, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 3, 3, 1, 2, 3, 1, 1, 3, 1, 1, 2, 2, 1, 1, 3, 2, 1, 1, 3, 1, 1, 1, 3, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 2, 1, 1, 1, 1, 2, 1, 2, 1, 3, 1, 3, 2, 1, 2, 1, 1, 1, 2, 1, 3, 1, 1, 3, 3, 3, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 3, 2, 1, 1, 2, 3, 1, 3, 3, 1, 1, 2, 1, 1, 2, 1, 2, 2, 1, 1, 1, 1, 3, 1, 2, 2, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 3]
14 [2, 2, 2, 2, 2, 5, 5, 4, 3, 2, 5, 4, 1, 4, 5, 2, 3, 5, 1, 5, 2, 4, 4, 5, 1, 1, 3, 1, 3, 1, 5, 1, 4, 3, 3, 4, 2, 2, 1, 1, 1, 3, 5, 1, 5, 5, 4, 3, 4, 5, 4, 2, 4, 4, 2, 3, 4, 5, 4, 1, 1, 5, 3, 5, 3, 1, 2, 2, 2, 5, 3, 5, 2, 5, 2, 3, 5, 2, 3, 4, 1, 3, 2, 3, 1, 5, 4, 4, 4, 4, 2, 3, 2, 1, 5, 3, 1, 3, 2, 5, 4, 5, 1, 2, 1, 2, 1, 2, 5, 3, 1, 4, 3, 3, 3, 1, 5, 2, 2, 5, 3, 4, 2, 4, 4, 5, 5, 4, 4, 5, 2, 4, 2, 1, 2, 1, 4, 3, 5, 2, 2, 4, 3, 1, 2, 1, 2, 4, 5, 5, 1, 2, 4, 4, 1, 2, 4, 5, 3, 4, 4, 3, 5, 5, 1, 2, 2, 1, 3, 5, 4, 4, 2, 2, 5, 3, 5, 4, 2, 2, 4, 1, 4, 1, 2, 4, 4, 5, 5, 4, 1, 1, 4, 1, 2, 1, 3, 4, 3, 4, 5, 2, 1, 1, 4, 1, 3, 1, 4, 1, 3, 5, 1, 3, 4, 3, 4, 3, 2, 4, 2, 2, 4, 5, 2, 5, 5, 5, 5, 5, 5, 5, 1, 3, 1, 4, 2, 1, 5, 2, 4, 3, 2, 1, 2, 1, 4, 5, 4, 1, 5, 2, 4, 4, 1, 1, 1, 3, 2, 3, 2, 3, 1, 1, 5, 2, 4, 4, 2, 2, 3, 5, 5, 3, 2, 4, 5, 2, 3, 3, 5, 3, 4, 1, 2, 2, 5, 3, 1, 1, 5, 1, 1, 5, 1, 2, 4, 5, 5, 1, 4, 1, 4, 3, 1, 2, 2, 1, 2, 1, 3, 2, 3, 1, 2, 4, 5, 2, 4, 1, 5, 4, 5, 3, 2, 3, 5, 4, 5, 4, 1, 1, 1, 5, 2, 4, 3, 1, 2, 2, 4, 2, 1, 1, 3, 2, 3, 5, 1, 1, 5, 4, 1, 2, 5, 4, 1, 1, 4, 4, 5, 4, 4, 3, 5, 1, 2, 5, 2, 3, 1, 2, 4, 1, 2, 4, 3, 1, 5, 2, 2, 1, 5, 3, 1, 2, 4, 2, 3, 5, 2, 5, 3, 1, 4, 4, 3, 4, 3, 1, 1, 3, 3, 4, 1, 2, 3, 1, 4, 2, 1, 3, 3, 4, 1, 3, 5, 1, 2, 5, 2, 1, 3, 2, 1, 2, 5, 3, 5, 4, 2, 2, 5, 2, 4, 5, 2, 2, 2, 5, 5, 3, 3, 1, 3, 5, 2, 1, 3, 4, 2, 1, 3, 3, 5, 3, 3, 4, 4, 3, 1, 5, 2, 5, 3, 4, 4, 2, 3, 2, 1, 2, 3, 2, 4, 2, 2, 2, 5, 2, 1, 2, 3, 4, 5, 4, 3, 3, 3, 5, 5, 4, 4, 3, 3, 5, 3, 5, 5, 5]
15 [1, 1, 1, 1, 1, 1, 1, 3, 1, 3, 3, 1, 2, 1, 1, 1, 3, 3, 1, 1, 2, 1, 1, 3, 1, 1, 2, 3, 1, 1, 1, 3, 2, 3, 2, 1, 2, 1, 1, 1, 2, 2, 1, 3, 3, 3, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 3, 3, 2, 1, 1, 1, 1, 1, 1, 2, 3, 1, 1, 1, 1, 3, 1, 2, 2, 3, 1, 2, 1, 1, 1, 1, 2, 3, 2, 1, 1, 1, 1, 1, 3, 1, 1, 1, 3, 1, 1, 1, 1, 1, 3, 1, 2, 1, 2, 3, 1, 1, 3, 2, 1, 1, 1, 2, 1, 2, 2, 3, 1, 2, 1, 3, 1, 2, 3, 1, 3, 2, 1, 1, 2, 3, 3, 3, 1, 1, 2, 1, 2, 2, 1, 3, 1, 1, 3, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 3, 1, 1, 3, 1, 3, 1, 1, 1, 2, 3, 1, 3, 2, 3, 3, 1, 1, 1, 2, 1, 1, 1, 3, 1, 1, 3, 1, 1, 1, 1, 1, 1, 2, 2, 1, 2, 1, 1, 1, 1, 2, 1, 1, 3, 1, 2, 1, 2, 3, 2, 2, 2, 3, 1, 1, 1, 1, 1, 3, 1, 2, 1, 3, 3, 1, 1, 1, 1, 3, 3, 1, 1, 2, 1, 1, 2, 1, 3, 2, 1, 2, 1, 1, 1, 2, 1, 3, 3, 2, 1, 3, 1, 3, 2, 3, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 3, 1, 1, 1, 2, 3, 1, 1, 1, 3, 1, 3, 2, 2, 2, 3, 1, 2, 1, 1, 3, 2, 1, 3, 2, 1, 1, 1, 2, 1, 1, 2, 2, 2, 1, 3, 1, 2, 2, 3, 3, 1, 2, 2, 3, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 3, 1, 1, 1, 2, 2, 2, 3, 1, 2, 1, 3, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 3, 1, 2, 1, 1, 2, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 3, 1, 2, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 3, 1, 1, 1, 1, 1, 2, 3, 3, 1, 1, 1, 2, 1, 3, 2, 1, 1, 2, 2, 3, 1, 3, 1, 1, 3, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 2, 1, 2, 3, 1, 1, 1, 2, 1, 3, 1, 1, 3, 2, 1, 1, 3, 1, 1, 1, 2, 1, 1, 3, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 1, 3, 3, 1, 1, 2, 1, 1, 3, 1, 3, 2, 1, 1, 1, 3, 3, 3, 1, 2, 2, 1, 3, 3, 3, 2, 1, 1, 1, 1, 2, 2]
2 500
3 500
11 500
14 500
15 500

In [44]:
#заменяем столбцы
quantitative_data_df.loc[:,'A2']= categories_a2
quantitative_data_df.loc[:,'A3']= categories_a3
quantitative_data_df.loc[:,'A11']= categories_a11
quantitative_data_df.loc[:,'A14']= categories_a14
quantitative_data_df.loc[:,'A15']= categories_a15

quantitative_data_df

      A2   A3  A11  A14  A15  A16
0    1.0  1.0    1    2    1    0
1    4.0  2.0    1    2    1    0
2    2.0  1.0    1    2    1    1
3    2.0  4.0    2    2    1    1
4    2.0  5.0    1    2    1    1
..   ...  ...  ...  ...  ...  ...
495  4.0  4.0    1    5    1    0
496  4.0  3.0    1    3    1    0
497  5.0  3.0    1    5    1    0
498  5.0  2.0    1    5    2    0
499  3.0  4.0    3    5    2    1

[500 rows x 6 columns]

In [45]:
qualitative_data_df

           A4        A5        A6       A12       A13  A16
0    0.446722  0.446722  0.388659  0.416371  0.412857    0
1    0.446722  0.446722  0.082718  0.381418  0.412857    0
2    0.446722  0.446722  0.388659  0.381418  0.412857    1
3    0.446722  0.446722  0.642097  0.416371  0.412857    1
4    0.446722  0.446722  0.642097  0.416371  0.412857    1
..        ...       ...       ...       ...       ...  ...
495  0.446722  0.446722  0.336538  0.416371  0.412857    0
496  0.236162  0.236162   0.77861  0.416371  0.412857    0
497  0.446722  0.446722  0.388659  0.416371  0.412857    0
498  0.446722  0.446722   0.33888  0.416371  0.412857    0
499  0.446722  0.446722  0.642097  0.381418  0.412857    1

[500 rows x 6 columns]

**Для качественных данных Хи-квадрат сделан в табличках экселя**

In [46]:
quantitative_data_df

      A2   A3  A11  A14  A15  A16
0    1.0  1.0    1    2    1    0
1    4.0  2.0    1    2    1    0
2    2.0  1.0    1    2    1    1
3    2.0  4.0    2    2    1    1
4    2.0  5.0    1    2    1    1
..   ...  ...  ...  ...  ...  ...
495  4.0  4.0    1    5    1    0
496  4.0  3.0    1    3    1    0
497  5.0  3.0    1    5    1    0
498  5.0  2.0    1    5    2    0
499  3.0  4.0    3    5    2    1

[500 rows x 6 columns]

In [72]:
#Общие данные и вообще то, ч о мне нужно

#ВНИМАНИЕ это конкретно для МОЕГО задания(имеется в виду данных)
count=500
count_a2_mas=[]
count_a2_plus_mas=[]
count_a2_minus_mas=[]


#A2

#Общее количество каждого встречающегося интервала
count_a2_1=quantitative_data_df['A2'].value_counts()[1]
count_a2_2=quantitative_data_df['A2'].value_counts()[2]
count_a2_3=quantitative_data_df['A2'].value_counts()[3]
count_a2_4=quantitative_data_df['A2'].value_counts()[4]
count_a2_5=quantitative_data_df['A2'].value_counts()[5]

count_a2_mas.append(count_a2_1)
count_a2_mas.append(count_a2_2)
count_a2_mas.append(count_a2_3)
count_a2_mas.append(count_a2_4)
count_a2_mas.append(count_a2_5)

#Количество положительных значений класса
plus_count_a2_1=quantitative_data_df[(quantitative_data_df['A2'] == 1) & (quantitative_data_df['A16'] == 1)].shape[0]
plus_count_a2_2=quantitative_data_df[(quantitative_data_df['A2'] == 2) & (quantitative_data_df['A16'] == 1)].shape[0]
plus_count_a2_3=quantitative_data_df[(quantitative_data_df['A2'] == 3) & (quantitative_data_df['A16'] == 1)].shape[0]
plus_count_a2_4=quantitative_data_df[(quantitative_data_df['A2'] == 4) & (quantitative_data_df['A16'] == 1)].shape[0]
plus_count_a2_5=quantitative_data_df[(quantitative_data_df['A2'] == 5) & (quantitative_data_df['A16'] == 1)].shape[0]

count_a2_plus_mas.append(plus_count_a2_1)
count_a2_plus_mas.append(plus_count_a2_2)
count_a2_plus_mas.append(plus_count_a2_3)
count_a2_plus_mas.append(plus_count_a2_4)
count_a2_plus_mas.append(plus_count_a2_5)

plus_count_a2_all=plus_count_a2_1+plus_count_a2_2+plus_count_a2_3+plus_count_a2_4+plus_count_a2_5
#Количество отрицательных значений класса
minus_count_a2_1=quantitative_data_df[(quantitative_data_df['A2'] == 1) & (quantitative_data_df['A16'] == 0)].shape[0]
minus_count_a2_2=quantitative_data_df[(quantitative_data_df['A2'] == 2) & (quantitative_data_df['A16'] == 0)].shape[0]
minus_count_a2_3=quantitative_data_df[(quantitative_data_df['A2'] == 3) & (quantitative_data_df['A16'] == 0)].shape[0]
minus_count_a2_4=quantitative_data_df[(quantitative_data_df['A2'] == 4) & (quantitative_data_df['A16'] == 0)].shape[0]
minus_count_a2_5=quantitative_data_df[(quantitative_data_df['A2'] == 5) & (quantitative_data_df['A16'] == 0)].shape[0]

count_a2_minus_mas.append(minus_count_a2_1)
count_a2_minus_mas.append(minus_count_a2_2)
count_a2_minus_mas.append(minus_count_a2_3)
count_a2_minus_mas.append(minus_count_a2_4)
count_a2_minus_mas.append(minus_count_a2_5)

minus_count_a2_all=minus_count_a2_1+minus_count_a2_2+minus_count_a2_3+minus_count_a2_4+minus_count_a2_5

print(count, plus_count_a2_all, minus_count_a2_all)

print(count_a2_mas)

print(count_a2_plus_mas, count_a2_minus_mas)

500 224 276
[100, 100, 100, 102, 98]
[38, 40, 42, 41, 63] [62, 60, 58, 61, 35]

In [73]:
#Общее количество

#ВНИМАНИЕ это конкретно для МОЕГО задания(имеется в виду данных)
count=500
count_a3_mas=[]
count_a3_plus_mas=[]
count_a3_minus_mas=[]

#A3

#Общее количество каждого встречающегося интервала
count_a3_1=quantitative_data_df['A3'].value_counts()[1]
count_a3_2=quantitative_data_df['A3'].value_counts()[2]
count_a3_3=quantitative_data_df['A3'].value_counts()[3]
count_a3_4=quantitative_data_df['A3'].value_counts()[4]
count_a3_5=quantitative_data_df['A3'].value_counts()[5]

count_a3_mas.append(count_a3_1)
count_a3_mas.append(count_a3_2)
count_a3_mas.append(count_a3_3)
count_a3_mas.append(count_a3_4)
count_a3_mas.append(count_a3_5)

#Количество положительных значений класса
plus_count_a3_1=quantitative_data_df[(quantitative_data_df['A3'] == 1) & (quantitative_data_df['A16'] == 1)].shape[0]
plus_count_a3_2=quantitative_data_df[(quantitative_data_df['A3'] == 2) & (quantitative_data_df['A16'] == 1)].shape[0]
plus_count_a3_3=quantitative_data_df[(quantitative_data_df['A3'] == 3) & (quantitative_data_df['A16'] == 1)].shape[0]
plus_count_a3_4=quantitative_data_df[(quantitative_data_df['A3'] == 4) & (quantitative_data_df['A16'] == 1)].shape[0]
plus_count_a3_5=quantitative_data_df[(quantitative_data_df['A3'] == 5) & (quantitative_data_df['A16'] == 1)].shape[0]

count_a3_plus_mas.append(plus_count_a3_1)
count_a3_plus_mas.append(plus_count_a3_2)
count_a3_plus_mas.append(plus_count_a3_3)
count_a3_plus_mas.append(plus_count_a3_4)
count_a3_plus_mas.append(plus_count_a3_5)

plus_count_a3_all=plus_count_a3_1+plus_count_a3_2+plus_count_a3_3+plus_count_a3_4+plus_count_a3_5
#Количество отрицательных значений класса
minus_count_a3_1=quantitative_data_df[(quantitative_data_df['A3'] == 1) & (quantitative_data_df['A16'] == 0)].shape[0]
minus_count_a3_2=quantitative_data_df[(quantitative_data_df['A3'] == 2) & (quantitative_data_df['A16'] == 0)].shape[0]
minus_count_a3_3=quantitative_data_df[(quantitative_data_df['A3'] == 3) & (quantitative_data_df['A16'] == 0)].shape[0]
minus_count_a3_4=quantitative_data_df[(quantitative_data_df['A3'] == 4) & (quantitative_data_df['A16'] == 0)].shape[0]
minus_count_a3_5=quantitative_data_df[(quantitative_data_df['A3'] == 5) & (quantitative_data_df['A16'] == 0)].shape[0]

count_a3_minus_mas.append(minus_count_a3_1)
count_a3_minus_mas.append(minus_count_a3_2)
count_a3_minus_mas.append(minus_count_a3_3)
count_a3_minus_mas.append(minus_count_a3_4)
count_a3_minus_mas.append(minus_count_a3_5)

minus_count_a3_all=minus_count_a3_1+minus_count_a3_2+minus_count_a3_3+minus_count_a3_4+minus_count_a3_5

print(count, plus_count_a3_all, minus_count_a3_all)

print(count_a3_mas)

print(count_a3_plus_mas, count_a3_minus_mas)

500 224 276
[100, 102, 99, 102, 97]
[37, 33, 33, 65, 56] [63, 69, 66, 37, 41]

In [74]:
#Общее количество

#ВНИМАНИЕ это конкретно для МОЕГО задания(имеется в виду данных)
count=500
count_a11_mas=[]
count_a11_plus_mas=[]
count_a11_minus_mas=[]


#A11

#Общее количество каждого встречающегося интервала
count_a11_1=quantitative_data_df['A11'].value_counts()[1]
count_a11_2=quantitative_data_df['A11'].value_counts()[2]
count_a11_3=quantitative_data_df['A11'].value_counts()[3]

count_a11_mas.append(count_a11_1)
count_a11_mas.append(count_a11_2)
count_a11_mas.append(count_a11_3)

#Количество положительных значений класса
plus_count_a11_1=quantitative_data_df[(quantitative_data_df['A11'] == 1) & (quantitative_data_df['A16'] == 1)].shape[0]
plus_count_a11_2=quantitative_data_df[(quantitative_data_df['A11'] == 2) & (quantitative_data_df['A16'] == 1)].shape[0]
plus_count_a11_3=quantitative_data_df[(quantitative_data_df['A11'] == 3) & (quantitative_data_df['A16'] == 1)].shape[0]

count_a11_plus_mas.append(plus_count_a11_1)
count_a11_plus_mas.append(plus_count_a11_2)
count_a11_plus_mas.append(plus_count_a11_3)

plus_count_a11_all=plus_count_a11_1+plus_count_a11_2+plus_count_a11_3
#Количество отрицательных значений класса
minus_count_a11_1=quantitative_data_df[(quantitative_data_df['A11'] == 1) & (quantitative_data_df['A16'] == 0)].shape[0]
minus_count_a11_2=quantitative_data_df[(quantitative_data_df['A11'] == 2) & (quantitative_data_df['A16'] == 0)].shape[0]
minus_count_a11_3=quantitative_data_df[(quantitative_data_df['A11'] == 3) & (quantitative_data_df['A16'] == 0)].shape[0]

count_a11_minus_mas.append(minus_count_a11_1)
count_a11_minus_mas.append(minus_count_a11_2)
count_a11_minus_mas.append(minus_count_a11_3)


minus_count_a11_all=minus_count_a11_1+minus_count_a11_2+minus_count_a11_3

print(count, plus_count_a11_all, minus_count_a11_all)

print(count_a11_mas)

print(count_a11_plus_mas, count_a11_minus_mas)

500 224 276
[327, 79, 94]
[91, 50, 83] [236, 29, 11]

In [75]:
#Общее количество

#ВНИМАНИЕ это конкретно для МОЕГО задания(имеется в виду данных)
count=500
count_a14_mas=[]
count_a14_plus_mas=[]
count_a14_minus_mas=[]
#A14

#Общее количество каждого встречающегося интервала
count_a14_1=quantitative_data_df['A14'].value_counts()[1]
count_a14_2=quantitative_data_df['A14'].value_counts()[2]
count_a14_3=quantitative_data_df['A14'].value_counts()[3]
count_a14_4=quantitative_data_df['A14'].value_counts()[4]
count_a14_5=quantitative_data_df['A14'].value_counts()[5]

count_a14_mas.append(count_a14_1)
count_a14_mas.append(count_a14_2)
count_a14_mas.append(count_a14_3)
count_a14_mas.append(count_a14_4)
count_a14_mas.append(count_a14_5)

#Количество положительных значений класса
plus_count_a14_1=quantitative_data_df[(quantitative_data_df['A14'] == 1) & (quantitative_data_df['A16'] == 1)].shape[0]
plus_count_a14_2=quantitative_data_df[(quantitative_data_df['A14'] == 2) & (quantitative_data_df['A16'] == 1)].shape[0]
plus_count_a14_3=quantitative_data_df[(quantitative_data_df['A14'] == 3) & (quantitative_data_df['A16'] == 1)].shape[0]
plus_count_a14_4=quantitative_data_df[(quantitative_data_df['A14'] == 4) & (quantitative_data_df['A16'] == 1)].shape[0]
plus_count_a14_5=quantitative_data_df[(quantitative_data_df['A14'] == 5) & (quantitative_data_df['A16'] == 1)].shape[0]

count_a14_plus_mas.append(plus_count_a14_1)
count_a14_plus_mas.append(plus_count_a14_2)
count_a14_plus_mas.append(plus_count_a14_3)
count_a14_plus_mas.append(plus_count_a14_4)
count_a14_plus_mas.append(plus_count_a14_5)

plus_count_a14_all=plus_count_a14_1+plus_count_a14_2+plus_count_a14_3+plus_count_a14_4+plus_count_a14_5

#Количество отрицательных значений класса
minus_count_a14_1=quantitative_data_df[(quantitative_data_df['A14'] == 1) & (quantitative_data_df['A16'] == 0)].shape[0]
minus_count_a14_2=quantitative_data_df[(quantitative_data_df['A14'] == 2) & (quantitative_data_df['A16'] == 0)].shape[0]
minus_count_a14_3=quantitative_data_df[(quantitative_data_df['A14'] == 3) & (quantitative_data_df['A16'] == 0)].shape[0]
minus_count_a14_4=quantitative_data_df[(quantitative_data_df['A14'] == 4) & (quantitative_data_df['A16'] == 0)].shape[0]
minus_count_a14_5=quantitative_data_df[(quantitative_data_df['A14'] == 5) & (quantitative_data_df['A16'] == 0)].shape[0]

count_a14_minus_mas.append(minus_count_a14_1)
count_a14_minus_mas.append(minus_count_a14_2)
count_a14_minus_mas.append(minus_count_a14_3)
count_a14_minus_mas.append(minus_count_a14_4)
count_a14_minus_mas.append(minus_count_a14_5)

minus_count_a14_all=minus_count_a14_1+minus_count_a14_2+minus_count_a14_3+minus_count_a14_4+minus_count_a14_5

print(count, plus_count_a14_all, minus_count_a14_all)

print(count_a14_mas)

print(count_a14_plus_mas, count_a14_minus_mas)

500 224 276
[100, 111, 91, 99, 99]
[59, 57, 24, 31, 53] [41, 54, 67, 68, 46]

In [76]:
#Общее количество

#ВНИМАНИЕ это конкретно для МОЕГО задания(имеется в виду данных)
count=500
count_a15_mas=[]
count_a15_plus_mas=[]
count_a15_minus_mas=[]

#A15

#Общее количество каждого встречающегося интервала
count_a15_1=quantitative_data_df['A15'].value_counts()[1]
count_a15_2=quantitative_data_df['A15'].value_counts()[2]
count_a15_3=quantitative_data_df['A15'].value_counts()[3]

count_a15_mas.append(count_a15_1)
count_a15_mas.append(count_a15_2)
count_a15_mas.append(count_a15_3)

#Количество положительных значений класса
plus_count_a15_1=quantitative_data_df[(quantitative_data_df['A15'] == 1) & (quantitative_data_df['A16'] == 1)].shape[0]
plus_count_a15_2=quantitative_data_df[(quantitative_data_df['A15'] == 2) & (quantitative_data_df['A16'] == 1)].shape[0]
plus_count_a15_3=quantitative_data_df[(quantitative_data_df['A15'] == 3) & (quantitative_data_df['A16'] == 1)].shape[0]

count_a15_plus_mas.append(plus_count_a15_1)
count_a15_plus_mas.append(plus_count_a15_2)
count_a15_plus_mas.append(plus_count_a15_3)

plus_count_a15_all=plus_count_a15_1+plus_count_a15_2+plus_count_a15_3

#Количество отрицательных значений класса
minus_count_a15_1=quantitative_data_df[(quantitative_data_df['A15'] == 1) & (quantitative_data_df['A16'] == 0)].shape[0]
minus_count_a15_2=quantitative_data_df[(quantitative_data_df['A15'] == 2) & (quantitative_data_df['A16'] == 0)].shape[0]
minus_count_a15_3=quantitative_data_df[(quantitative_data_df['A15'] == 3) & (quantitative_data_df['A16'] == 0)].shape[0]

count_a15_minus_mas.append(minus_count_a15_1)
count_a15_minus_mas.append(minus_count_a15_2)
count_a15_minus_mas.append(minus_count_a15_3)

minus_count_a15_all=minus_count_a15_1+minus_count_a15_2+minus_count_a15_3

print(count, plus_count_a15_all, minus_count_a15_all)

print(count_a15_mas)

print(count_a15_plus_mas, count_a15_minus_mas)

500 224 276
[302, 98, 100]
[94, 48, 82] [208, 50, 18]

## Итак, теперь будем высчитывать наши ожидаемые данные

In [67]:
#A2
#a2_expected - это список с ожидаемыми значениями

a2_expected_plus=[]

for i in range(len(count_a2_mas)):
    value = (224*count_a2_mas[i])/500
    a2_expected_plus.append(value)

a2_expected_minus=[]

for i in range(len(count_a2_mas)):
    value = (276*count_a2_mas[i])/500
    a2_expected_minus.append(value)

print(a2_expected_plus, a2_expected_minus)

[44.8, 44.8, 44.8, 45.696, 43.904] [55.2, 55.2, 55.2, 56.304, 54.096]

In [68]:
#A3

a3_expected_plus=[]

for i in range(len(count_a3_mas)):
    value = (224*count_a3_mas[i])/500
    a3_expected_plus.append(value)

a3_expected_minus=[]

for i in range(len(count_a3_mas)):
    value = (276*count_a3_mas[i])/500
    a3_expected_minus.append(value)

print(a3_expected_plus, a3_expected_minus)

[44.8, 45.696, 44.352, 45.696, 43.456] [55.2, 56.304, 54.648, 56.304, 53.544]

In [69]:
#A11

a11_expected_plus=[]

for i in range(len(count_a11_mas)):
    value = (224*count_a11_mas[i])/500
    a11_expected_plus.append(value)

a11_expected_minus=[]

for i in range(len(count_a11_mas)):
    value = (276*count_a11_mas[i])/500
    a11_expected_minus.append(value)

print(a11_expected_plus, a11_expected_minus)

[146.496, 35.392, 42.112] [180.504, 43.608, 51.888]

In [70]:
#A14

a14_expected_plus=[]

for i in range(len(count_a14_mas)):
    value = (224*count_a14_mas[i])/500
    a14_expected_plus.append(value)

a14_expected_minus=[]

for i in range(len(count_a14_mas)):
    value = (276*count_a14_mas[i])/500
    a14_expected_minus.append(value)

print(a14_expected_plus, a14_expected_minus)

[44.8, 49.728, 40.768, 44.352, 44.352] [55.2, 61.272, 50.232, 54.648, 54.648]

In [71]:
#A15

a15_expected_plus=[]

for i in range(len(count_a15_mas)):
    value = (224*count_a15_mas[i])/500
    a15_expected_plus.append(value)

a15_expected_minus=[]

for i in range(len(count_a15_mas)):
    value = (276*count_a15_mas[i])/500
    a15_expected_minus.append(value)

print(a15_expected_plus, a15_expected_minus)

[135.296, 43.904, 44.8] [166.704, 54.096, 55.2]

## А теперь будем считать потихоньку нашу хи-квадрат

In [83]:
#A2
a2_hee_plus_mas=[]
a2_hee_minus_mas=[]

for i in range(len(count_a2_plus_mas)):
    for j in range(len(a2_expected_plus)):
        hee_value=((count_a2_plus_mas[i]-a2_expected_plus[j])**2)/a2_expected_plus[j]
        if (i==j):
            a2_hee_plus_mas.append(hee_value)


for i in range(len(count_a2_minus_mas)):
    for j in range(len(a2_expected_minus)):
        hee_value=((count_a2_minus_mas[i]-a2_expected_minus[j])**2)/a2_expected_minus[j]
        if (i==j):
            a2_hee_minus_mas.append(hee_value)

a2_hee_square=sum(a2_hee_plus_mas)+sum(a2_hee_minus_mas)

print(a2_hee_plus_mas, a2_hee_minus_mas)

print(a2_hee_square)

[1.0321428571428564, 0.5142857142857138, 0.17499999999999966, 0.48258963585434134, 8.305785714285712] [0.8376811594202891, 0.4173913043478256, 0.14202898550724607, 0.39166695083830594, 6.740927536231882]
19.039499857914173

In [84]:
#A3
a3_hee_plus_mas=[]
a3_hee_minus_mas=[]

for i in range(len(count_a3_plus_mas)):
    for j in range(len(a3_expected_plus)):
        hee_value=((count_a3_plus_mas[i]-a3_expected_plus[j])**2)/a3_expected_plus[j]
        if (i==j):
            a3_hee_plus_mas.append(hee_value)


for i in range(len(count_a3_minus_mas)):
    for j in range(len(a3_expected_minus)):
        hee_value=((count_a3_minus_mas[i]-a3_expected_minus[j])**2)/a3_expected_minus[j]
        if (i==j):
            a3_hee_minus_mas.append(hee_value)

a3_hee_square=sum(a3_hee_plus_mas)+sum(a3_hee_minus_mas)

print(a3_hee_plus_mas, a3_hee_minus_mas)

print(a3_hee_square)

[1.3580357142857133, 3.5274075630252093, 2.905571428571427, 8.154858543417369, 3.620948453608245] [1.1021739130434773, 2.862823529411764, 2.3581449275362303, 6.618435919295256, 2.938740773942924]
35.44714076613762

In [85]:
#A11
a11_hee_plus_mas=[]
a11_hee_minus_mas=[]

for i in range(len(count_a11_plus_mas)):
    for j in range(len(a11_expected_plus)):
        hee_value=((count_a11_plus_mas[i]-a11_expected_plus[j])**2)/a11_expected_plus[j]
        if (i==j):
            a11_hee_plus_mas.append(hee_value)


for i in range(len(count_a11_minus_mas)):
    for j in range(len(a11_expected_minus)):
        hee_value=((count_a11_minus_mas[i]-a11_expected_minus[j])**2)/a11_expected_minus[j]
        if (i==j):
            a11_hee_minus_mas.append(hee_value)

a11_hee_square=sum(a11_hee_plus_mas)+sum(a11_hee_minus_mas)

print(a11_hee_plus_mas, a11_hee_minus_mas)

print(a11_hee_square)

[21.02314067278288, 6.029432188065097, 39.69957598784194] [17.062259096751326, 4.893452210603558, 32.219945729263024]
120.92780588530782

In [86]:
#A14
a14_hee_plus_mas=[]
a14_hee_minus_mas=[]

for i in range(len(count_a14_plus_mas)):
    for j in range(len(a14_expected_plus)):
        hee_value=((count_a14_plus_mas[i]-a14_expected_plus[j])**2)/a14_expected_plus[j]
        if (i==j):
            a14_hee_plus_mas.append(hee_value)


for i in range(len(count_a14_minus_mas)):
    for j in range(len(a14_expected_minus)):
        hee_value=((count_a14_minus_mas[i]-a14_expected_minus[j])**2)/a14_expected_minus[j]
        if (i==j):
            a14_hee_minus_mas.append(hee_value)

a14_hee_square=sum(a14_hee_plus_mas)+sum(a14_hee_minus_mas)

print(a14_hee_plus_mas, a14_hee_minus_mas)

print(a14_hee_square)

[4.500892857142859, 1.0634247104247099, 6.896728414442701, 4.019568542568541, 1.6862352092352106] [3.6528985507246388, 0.8630693301997646, 5.59734480012741, 3.262258527302004, 1.3685387205387214]
32.91095966270656

In [87]:
#A15
a15_hee_plus_mas=[]
a15_hee_minus_mas=[]

for i in range(len(count_a15_plus_mas)):
    for j in range(len(a15_expected_plus)):
        hee_value=((count_a15_plus_mas[i]-a15_expected_plus[j])**2)/a15_expected_plus[j]
        if (i==j):
            a15_hee_plus_mas.append(hee_value)


for i in range(len(count_a15_minus_mas)):
    for j in range(len(a15_expected_minus)):
        hee_value=((count_a15_minus_mas[i]-a15_expected_minus[j])**2)/a15_expected_minus[j]
        if (i==j):
            a15_hee_minus_mas.append(hee_value)

a15_hee_square=sum(a15_hee_plus_mas)+sum(a15_hee_minus_mas)

print(a15_hee_plus_mas, a15_hee_minus_mas)

print(a15_hee_square)

[12.604656575212863, 0.3821341107871713, 30.88928571428572] [10.229866205969858, 0.3101378290446608, 25.069565217391304]
79.48564565269157

## Ну что ж, теперь осталось лишь записать результат

In [88]:
#Все будет также захардкожено, потому что мне уже впадлу с этим возиться

a2_a3_hee_square=a2_hee_square+a3_hee_square

a2_a11_hee_square=a2_hee_square+a11_hee_square

a2_a14_hee_square=a2_hee_square+a14_hee_square

a2_a15_hee_square=a15_hee_square+a2_hee_square

a3_a11_hee_square=a3_hee_square+a11_hee_square

a3_a14_hee_square=a3_hee_square+a14_hee_square

a3_a15_hee_square=a3_hee_square+a15_hee_square

a11_a14_hee_square=a11_hee_square+a14_hee_square

a11_a15_hee_square=a15_hee_square+a11_hee_square

a14_a15_hee_square=a15_hee_square+a14_hee_square

In [96]:
#Высчитываем коэффициент Пирсона

p2_p3=((a2_a3_hee_square)/(500+(a2_a3_hee_square)))**(1/2)

p2_p11=((a2_a11_hee_square)/(500+(a2_a11_hee_square)))**(1/2)
p2_p14=((a2_a14_hee_square)/(500+(a2_a14_hee_square)))**(1/2)
p2_p15=((a2_a15_hee_square)/(500+(a2_a15_hee_square)))**(1/2)
p3_p11=((a3_a11_hee_square)/(500+(a3_a11_hee_square)))**(1/2)
p3_p14=((a3_a14_hee_square)/(500+(a3_a14_hee_square)))**(1/2)
p3_p15=((a3_a15_hee_square)/(500+(a3_a15_hee_square)))**(1/2)
p11_p14=((a11_a14_hee_square)/(500+(a11_a14_hee_square)))**(1/2)
p11_p15=((a11_a15_hee_square)/(500+(a11_a15_hee_square)))**(1/2)
p14_p15=((a14_a15_hee_square)/(500+(a14_a15_hee_square)))**(1/2)


print('p2_p3:',p2_p3)
print('p2_p11:',p2_p11)
print('p2_p14:',p2_p14)
print('p2_p15:',p2_p15)
print('p3_p11:',p3_p11)
print('p3_p14:',p3_p14)
print('p3_p15:',p3_p15)
print('p11_p14:',p11_p14)
print('p11_p15:',p11_p15)
print('p14_p15:',p14_p15)

p2_p3: 0.31347251813739085
p2_p11: 0.4676645036558632
p2_p14: 0.30679243546680357
p2_p15: 0.4057255353940894
p3_p11: 0.488098630668316
p3_p14: 0.34680389453165544
p3_p15: 0.4323228032877961
p11_p14: 0.4850623429663959
p11_p15: 0.5349167467924574
p14_p15: 0.4284106020628657

In [97]:
#Коэфф Крамера

#Высчитываем коэффициент Пирсона

c2_c3=((a2_a3_hee_square)/(500))**(1/2)

c2_c11=((a2_a11_hee_square)/(500))**(1/2)
c2_c14=((a2_a14_hee_square)/(500))**(1/2)
c2_c15=((a2_a15_hee_square)/(500))**(1/2)
c3_c11=((a3_a11_hee_square)/(500))**(1/2)
c3_c14=((a3_a14_hee_square)/(500))**(1/2)
c3_c15=((a3_a15_hee_square)/(500))**(1/2)
c11_c14=((a11_a14_hee_square)/(500))**(1/2)
c11_c15=((a11_a15_hee_square)/(500))**(1/2)
c14_c15=((a14_a15_hee_square)/(500))**(1/2)


print('c2_c3:',c2_c3)
print('c2_c11:',c2_c11)
print('c2_c14:',c2_c14)
print('c2_c15:',c2_c15)
print('c3_c11:',c3_c11)
print('c3_c14:',c3_c14)
print('c3_c15:',c3_c15)
print('c11_c14:',c11_c14)
print('c11_c15:',c11_c15)
print('c14_c15:',c14_c15)

print(a2_a11_hee_square)

c2_c3: 0.3301110135213661
c2_c11: 0.5290884722675822
c2_c14: 0.32233665482107593
c2_c15: 0.4439034703865374
c3_c11: 0.5592404610745639
c3_c14: 0.3697515393581051
c3_c15: 0.47944298184211476
c11_c14: 0.5546868766214221
c11_c15: 0.6331089188093931
c14_c15: 0.4741236237847638
139.967305743222